<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Overview">
    <siteMapNode title="Home" nopResource="Home" controller="Home" action="Index" ImageUrl="~/Content/images/ico-dashboard.png" />
    
    <!--<siteMapNode title="Recruitment" nopResource="HRM.Recruitment" PermissionNames="ManageProfiles, ManageVendors" ImageUrl="Content/images/icons/submenu/menu/Recruitment.png" >
      <siteMapNode title="RecruitmentCampaign" nopResource="HRM.Candidates.RecruitmentCampaign" PermissionNames="ManageProfiles" controller="Recruitment" action="Index" ImageUrl="Content/images/icons/submenu/menu/Rec_RecruitmentCampaign.png" />
      <siteMapNode title="RecruitmentRequired" nopResource="HRM.Candidates.RecruitmentRequired" PermissionNames="ManageProfiles" controller="Recruitment" action="Index" ImageUrl="Content/images/icons/submenu/menu/Rec_RecruitmentRequired.png" />
      <siteMapNode title="JobCandidates" nopResource="HRM.Candidates.JobCandidates" PermissionNames="ManageProfiles" controller="Recruitment" action="Index" ImageUrl="Content/images/icons/submenu/menu/Rec_JobCandidates.png" />
      <siteMapNode title="JobInterviews" nopResource="HRM.Candidates.JobInterviews" PermissionNames="ManageProfiles" controller="Recruitment" action="Index" ImageUrl="Content/images/icons/submenu/menu/Rec_JobInterviews.png" />
      <siteMapNode title="Category" nopResource="HRM.Candidates.Category" PermissionNames="ManageProfiles" controller="Recruitment" action="Index" ImageUrl="Content/images/icons/submenu/menu/Rec_Category.png" />
    </siteMapNode>-->
    <siteMapNode title="HR" nopResource="HRM_HR" PermissionNames="ManageProfiles, ManageVendors" ImageUrl="Content/images/icons/submenu/normal/Employees.png" >
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.Employees" PermissionNames="Employees" controller="Candidate" action="Index"  ImageUrl="Content/images/icons/submenu/normal/Employees.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.EmployeesJoining" PermissionNames="EmployeesJoining" controller="EmployeesJoining" action="Index"  ImageUrl="Content/images/icons/submenu/normal/EmployeesJoining.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.Contracts" PermissionNames="Contracts" controller="Contracts" action="Contracts"  ImageUrl="Content/images/icons/submenu/normal/Contracts.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.Promotions" PermissionNames="Promotions" controller="Promotions" action="Promotions"  ImageUrl="Content/images/icons/submenu/normal/Promotions.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.Travels" PermissionNames="Travels" controller="Travels" action="Travels"  ImageUrl="Content/images/icons/submenu/normal/Travels.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.Terminations" PermissionNames="Terminations" controller="Terminations" action="Terminations"  ImageUrl="Content/images/icons/submenu/normal/Terminations.png" />
      <siteMapNode title="Profiles" nopResource="HRM.Profiles.EmployeesExit" PermissionNames="EmployeesExit" controller="EmployeesExit" action="EmployeesExit"  ImageUrl="Content/images/icons/submenu/normal/EmployeesExit.png" />
    </siteMapNode>
    <siteMapNode title="Training" nopResource="HRM.Training" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" ImageUrl="Content/images/icons/submenu/menu/TrainingPlans.png">
      <siteMapNode title="TrainingPlans" nopResource="HRM.Training.TrainingPlans" PermissionNames="ManagePolls" controller="Poll" action="List" ImageUrl="Content/images/icons/submenu/menu/Tra_Plan.png" />
      <siteMapNode title="TrainingRequirements" nopResource="HRM.Training.TrainingRequirements" PermissionNames="ManagePolls" controller="Poll" action="List" ImageUrl="Content/images/icons/submenu/menu/Tra_Requirement.png" />
      <siteMapNode title="ClassList" nopResource="HRM.Training.ClassList" PermissionNames="ManagePolls" controller="Poll" action="List" ImageUrl="Content/images/icons/submenu/menu/Tra_ClassList.png" />
      <siteMapNode title="Learners" nopResource="HRM.Training.Learners" PermissionNames="ManagePolls" controller="Poll" action="List" ImageUrl="Content/images/icons/submenu/menu/Tra_Learners.png" />
      <siteMapNode title="Category" nopResource="HRM.Training.Category" PermissionNames="ManagePolls" controller="Poll" action="List" ImageUrl="Content/images/icons/submenu/menu/Tra_Category.png" />
    </siteMapNode>
    <siteMapNode title="Attendance" nopResource="HRM.Attendance" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" ImageUrl="Content/images/icons/submenu/menu/Attendance.png">
      <siteMapNode title="CalculateAttendance" nopResource="HRM.Attendance.CalculateAttendance" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" ImageUrl="Content/images/icons/submenu/menu/Att_CalculateAttendance.png" />
      <siteMapNode title="Overtimes" nopResource="HRM.Attendance.Overtimes" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" ImageUrl="Content/images/icons/submenu/menu/Att_overtime.png" />
      <siteMapNode title="ShiftAndTimeSheet " nopResource="HRM.Attendance.ShiftTimeSheet " PermissionNames="ManageAffiliates" controller="Affiliate" action="List" ImageUrl="Content/images/icons/submenu/menu/Att_ShiftTimeSheet.png" />
      <siteMapNode title="LeaveDays" nopResource="HRM.Attendance.LeaveDays" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" ImageUrl="Content/images/icons/submenu/menu/Kind_Working.png" />
      <siteMapNode title="Catalog" nopResource="HRM.Attendance.Catalog" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" ImageUrl="Content/images/icons/submenu/menu/Att_Category.png" />
    </siteMapNode>
    <siteMapNode title="Payroll" nopResource="HRM.Payroll" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" ImageUrl="Content/images/icons/submenu/menu/Kind_Working.png">
      <siteMapNode title="Salary" nopResource="HRM.Payroll.Salary" PermissionNames="ManageOrders" controller="Order" action="List" ImageUrl="Content/images/icons/submenu/menu/Payroll_Salary.png" />
      <siteMapNode title="SalaryPayslips" nopResource="HRM.Payroll.SalaryPayslips" PermissionNames="ManageOrders" controller="Order" action="List" ImageUrl="Content/images/icons/submenu/menu/Payroll_SalaryPayslips.png" />
      <siteMapNode title="Deductions" nopResource="HRM.Payroll.Deductions" PermissionNames="ManageOrders" controller="Order" action="List" ImageUrl="Content/images/icons/submenu/menu/Payroll_Deductions.png" />
      <siteMapNode title="Bonuses" nopResource="HRM.Payroll.Bonuses" PermissionNames="ManageOrders" controller="Order" action="List" ImageUrl="Content/images/icons/submenu/menu/Payroll_Bonuses.png" />
      <siteMapNode title="Category" nopResource="HRM.Payroll.Category" PermissionNames="ManageOrders" controller="Order" action="List" ImageUrl="Content/images/icons/submenu/menu/Payroll_Category.png" />
    </siteMapNode>
    <siteMapNode title="Catalog" nopResource="HRM.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" ImageUrl="Content/images/icons/submenu/menu/Cat_GeographySocial.png" >
      <siteMapNode title="GeographySocial" nopResource="HRM.Catalog.GeographySocial" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" ImageUrl="Content/images/icons/submenu/menu/Cat_GeographySocial.png"/>
      <siteMapNode title="SkillCertification" nopResource="HRM.Catalog.SkillCertification" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" ImageUrl="Content/images/icons/submenu/menu/Cat_SkillCertification.png"/>
      <siteMapNode title="Import" nopResource="HRM.Catalog.Import" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" ImageUrl="Content/images/icons/submenu/menu/Cat_Import.png"/>
      <siteMapNode title="Export" nopResource="HRM.Catalog.Export" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" ImageUrl="Content/images/icons/submenu/menu/Cat_Export.png"/>
      <siteMapNode title="Others" nopResource="HRM.Catalog.Others" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" ImageUrl="Content/images/icons/submenu/menu/Cat_Others.png"/>
    </siteMapNode>
    <siteMapNode title="Configuration" nopResource="HRM.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins"
       ImageUrl="Content/images/icons/submenu/menu/Configuration.png">
      <siteMapNode title="ObjectCodes" nopResource="HRM.Configuration.ObjectCodes" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_ObjectCodes.png"/>
      <siteMapNode title="ConfigTAMServer" nopResource="HRM.Configuration.ConfigTAMServer" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_ConfigTAMServer.png"/>
      <siteMapNode title="EmailConfiguration" nopResource="HRM.Configuration.EmailConfiguration" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_EmailConfiguration.png"/>
      <siteMapNode title="LanguageOptions" nopResource="HRM.Configuration.LanguageOptions" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_LanguageOptions.png"/>
      <siteMapNode title="IPAllowList" nopResource="HRM.Configuration.IPAllowList" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_IPAllowList.png"/>
      <siteMapNode title="UpdateDataList" nopResource="HRM.Configuration.UpdateDataList" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_UpdateDataList.png"/>
      <siteMapNode title="SecurityPolicy" nopResource="HRM.Configuration.SecurityPolicy" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_SecurityPolicy.png"/>
      <siteMapNode title="SystemDataList" nopResource="HRM.Configuration.SystemDataList" PermissionNames="ManageSettings" controller="Setting" action="List" ImageUrl="Content/images/icons/submenu/menu/Conf_SystemDataList.png"/>
    </siteMapNode>
    <siteMapNode title="System" nopResource="HRM.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" ImageUrl="Content/images/icons/submenu/menu/System.png">
      <siteMapNode title="UserInfo" nopResource="HRM.System.UserInfo" PermissionNames="ManageSystemLog" action="List" ImageUrl="Content/images/icons/submenu/menu/Sys_UserInfo.png"/>
      <siteMapNode title="UserGroup" nopResource="HRM.System.UserGroup" PermissionNames="ManageSystemLog" action="List" ImageUrl="Content/images/icons/submenu/menu/Sys_UserGroup.png"/>
      <siteMapNode title="Group" nopResource="HRM_System_Group" controller="Setting" action="Index" PermissionNames="ManageSystemLog" ImageUrl="/Content/images/icons/submenu/menu/Sys_UserGroup.png"/>
      <siteMapNode title="PermissionGroup" nopResource="HRM.System.PermissionGroup" PermissionNames="ManageSystemLog" action="List" ImageUrl="Content/images/icons/submenu/menu/Sys_PermissionGroup.png"/>
      <siteMapNode title="ExecuteSQLScript" nopResource="HRM.System.ExecuteSQLScript" PermissionNames="ManageSystemLog" action="List" ImageUrl="Content/images/icons/submenu/menu/Sys_ExecuteSQLScript.png"/>
      <siteMapNode title="LogHistory" nopResource="HRM.System.LogHistory" PermissionNames="ManageSystemLog" action="List" ImageUrl="Content/images/icons/submenu/menu/Sys_LogHistory.png"/>
      <siteMapNode title="DynamicColumn" nopResource="HRM.System.DynamicColumn" PermissionNames="ManageSystemLog" controller="Sys_DynamicColumn" action="Index" ImageUrl="Content/images/icons/submenu/menu/Sys_DynamicColumn.png"/>
    </siteMapNode>
    <siteMapNode title="Help" nopResource="HRM.Help" ImageUrl="Content/images/icons/submenu/menu/Help.png">
      <siteMapNode title="HelpTopics" nopResource="HRM.Help.HelpTopics" url="#" ImageUrl="Content/images/icons/submenu/menu/Help_HelpTopics.png" />
      <siteMapNode title="FAQs" nopResource="HRM.Help.FAQs" url="#" ImageUrl="Content/images/icons/submenu/menu/Help_FAQs.png" />
      <siteMapNode title="SupportTickets" nopResource="HRM.Help.SupportTickets" url="#" ImageUrl="Content/images/icons/submenu/menu/Help_SupportTickets.png" />
      <siteMapNode title="ContactUs" nopResource="HRM.Help.ContactUs" url="#" ImageUrl="Content/images/icons/submenu/menu/Help_ContactUs.png" />
      <siteMapNode title="LiveSupport" nopResource="HRM.Help.LiveSupport" url="#" ImageUrl="Content/images/icons/submenu/menu/Help_LiveSupport.png" />   
    </siteMapNode>
  </siteMapNode>
</siteMap>

