
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Payroll.Models
@{
    ViewBag.Title = "SalaryInfo";
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@model Hre_ProfileModelPortal
@*<script type="text/javascript">
    function filterField_BasicSalary() {
        var param = {
            ProfileID: '@Model.ID',
            CutOffDurationID: $("#CutOffDuration_Att").val(),
        };
        return param;
    };

</script>*@
<div class="row">
    @{
        string[] valueFields = new string[]
        {
            Sal_BasicSalaryModel.FieldNames.GrossAmount,
            Sal_BasicSalaryModel.FieldNames.InsuranceAmount,
            Sal_BasicSalaryModel.FieldNames.DateOfEffect,
            Sal_BasicSalaryModel.FieldNames.CurrencyName,
            Sal_BasicSalaryModel.FieldNames.DateOfRequest,
          
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount,120},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount,200},
            {Sal_BasicSalaryModel.FieldNames.DateOfEffect,140},
            {Sal_BasicSalaryModel.FieldNames.CurrencyName,150},
            {Sal_BasicSalaryModel.FieldNames.DateOfRequest,120},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount,"Tiền Lương"},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount,"Lương Đóng Bảo Hiểm"},
            {Sal_BasicSalaryModel.FieldNames.DateOfEffect,"Ngày Hiệu Lực"},
            {Sal_BasicSalaryModel.FieldNames.CurrencyName,"Tiền Tệ"},
            {Sal_BasicSalaryModel.FieldNames.DateOfRequest,"Ngày Thay Đổi Lương"},
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount, ConstantFormat.HRM_Format_Int},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount, ConstantFormat.HRM_Format_Int},
           
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridPayroll_BasicSalary",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            FormatFields = formatFields,
            DisplayFields = displayFields,
            ReadActionUrl = @_hrm_Hre_Service + "Sal_GetData/GetBasicSalaryByIdProfile",
            ShowCheckbox=false,
            AutoBind=true,
            ShowEditIcon=false,
            ReadData = "filterField_Att"
        };
        @(Html.VnrGrid<Sal_BasicSalaryModel>(grid))
    }
</div>
