
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var proID = Model != null ? Model.ID : Guid.Empty;
}
@model HRM.Presentation.EmpPortal.Models.Hre_ProfileModelPortal
<div class="row"></div>
<div class="row">
    @{

        string[] valueFields = new string[]
                            {
                                Hre_ContractModel.FieldNames.ContractNo,
                                Hre_ContractModel.FieldNames.JobTitleName,
                                Hre_ContractModel.FieldNames.PositionName,
                                Hre_ContractModel.FieldNames.ContractTypeName,
                                Hre_ContractModel.FieldNames.DateSigned,
                                Hre_ContractModel.FieldNames.DateStart,
                                Hre_ContractModel.FieldNames.DateEnd
                            };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_ContractModel.FieldNames.ContractNo,110},
                                {Hre_ContractModel.FieldNames.JobTitleName,110},
                                {Hre_ContractModel.FieldNames.PositionName,110},
                                {Hre_ContractModel.FieldNames.ContractTypeName,300},
                                {Hre_ContractModel.FieldNames.DateSigned,143},
                                {Hre_ContractModel.FieldNames.DateStart,111},
                                {Hre_ContractModel.FieldNames.DateEnd,116}
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_ContractModel.FieldNames.ContractNo, ConstantDisplay.HRM_HR_Contract_ContractNo},
                                {Hre_ContractModel.FieldNames.JobTitleName, ConstantDisplay.HRM_HR_Contract_JobTitleID},
                                {Hre_ContractModel.FieldNames.PositionName, ConstantDisplay.HRM_HR_Contract_PositionID},
                                {Hre_ContractModel.FieldNames.ContractTypeName, ConstantDisplay.HRM_HR_Contract_ContractTypeID},
                                {Hre_ContractModel.FieldNames.DateSigned, ConstantDisplay.HRM_HR_Contract_DateSigned},
                                {Hre_ContractModel.FieldNames.DateStart, ConstantDisplay.HRM_HR_Contract_DateStart},
                                {Hre_ContractModel.FieldNames.DateEnd, ConstantDisplay.HRM_HR_Contract_DateEnd}
                            };

        var grid = new GridBuilderInfo
        {

            Name = "gridHre_Contract",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Hre_Service + "Hre_GetData/GetContractByProfileID?profileID=" + proID,
            //ReadData = "filterFieldInfo",
            AutoBind = true,
            GridHeight = 480,
            ShowCheckbox = false,
            ShowEditIcon = false,
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_ContractModel>(grid))
</div>