@using HRM.Infrastructure.Utilities;

@model HRM.Presentation.Evaluation.Models.Eva_SaleEvaluationModel
@{
    ViewBag.Title = "Yêu Cầu Ngày Nghỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProfileId = Session["ProfileId"];
}

<div>
    <script>
        $(document).ready(function () {
            $("#toolbarCreateSaleEvalution").kendoToolBar({
                items: [
                    { type: "button", id: "btnSaveSaleEvaluation", text: "Lưu", imageUrl: '@ConstantPath.IconSavePath' },
                    { type: "button", id: "btnSaveNewSaleEvaluation", text: "Lưu và tạo mới", imageUrl: '@ConstantPath.IconSavePath' },
                ],
                click: function (e) {
                    var id = e.id;
                    switch (id) {
                        case "btnSaveSaleEvaluation":
                            debugger;
                            $.ajax({
                                type: 'POST',
                                url: "/Personal/SaveSaleEvalution/",
                                //data: ,
                                data:queryStringToJSON(slpitQueryEntity($("#form-update-create").serialize())),
                                success: function (data) {
                                    debugger;
                                    var dataSplit = data.split(',');
                                    if (dataSplit.length > 1) {
                                        ShowNotificationProcessor(dataSplit[1]);
                                    }
                                    else
                                    {
                                        $("#ID").val(dataSplit[0]);
                                        ShowNotificationProcessor("Thao tác thành công");
                                    }
                                },
                                error: function (data) {
                                    window.ShowNotificationProcessor(data.responseText);
                                }
                            });
                            break;
                        case "btnSaveNewSaleEvaluation":
                            $.ajax({
                                type: 'POST',
                                url: "/Personal/SaveSaleEvalution/",
                                data: queryStringToJSON(slpitQueryEntity($("#form-update-create").serialize())),
                                success: function (data) {
                                    var dataSplit = data.split(',');
                                    if (dataSplit.length > 1) {
                                        ShowNotificationProcessor(dataSplit[1]);
                                    }
                                    else {
                                        $("#ID").val(dataSplit[0]);
                                        ShowNotificationProcessor("Thao tác thành công");
                                    }
                                    location.href = "/Personal/CreateSaleEvaluation/";
                                },
                                error: function (data) {
                                    window.ShowNotificationProcessor(data.responseText);
                                }
                            });
                            break;
                    }
                }

            });
        });
    </script>
</div>
<form action="#" method="POST" id="form-update-create">

    <div class="container">
        <div class="row">
            <ul class="breadcrumb hidden-xs" style="margin-bottom:auto">
                <li><a href="/Portal/Home">Trang Chủ</a></li>
                <li><a href="#">Đánh giá</a></li>
                <li class="active">Tạo Mới Doanh Số</li>
            </ul>
        </div>
    </div>
    <div class="form-tile">@*Tạo Mới Ngày Nghỉ (@Html.ActionLink("Danh sách","Approve"))*@</div>
    <div class="form-create-update">
        <div id="toolbarCreateSaleEvalution"></div>
        <div class="form-content">
            @Html.Partial("_SaleEvaluationForm", Model)
        
        </div>
    </div>
</form>
