
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listSta = Enum.GetValues(typeof(AttendanceDataStatus))
    .Cast<AttendanceDataStatus>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();
}
@model Hre_ProfileModelPortal
           <div class="row"></div>
<div class="row">
    @{
        Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        {
            {Att_LeaveDayModel.FieldNames.Status,new object[]
               { "Value", "Text", listSta, ConstantDisplay.HRM_Attendance_Leaveday_Status,""}},
        };
        
        var valueFields = new string[]
        {
            Att_LeaveDayModel.FieldNames.LeaveDayTypeName,
            Att_LeaveDayModel.FieldNames.LeaveDays,
            Att_LeaveDayModel.FieldNames.LeaveHours,
            Att_LeaveDayModel.FieldNames.Status,
            Att_LeaveDayModel.FieldNames.DateStart,
            Att_LeaveDayModel.FieldNames.DateEnd,
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_LeaveDayModel.FieldNames.LeaveDayTypeName, 140},
            {Att_LeaveDayModel.FieldNames.LeaveDays, 130},
            {Att_LeaveDayModel.FieldNames.LeaveHours, 120},
            {Att_LeaveDayModel.FieldNames.Status, 130},
            {Att_LeaveDayModel.FieldNames.DateStart, 120},
            {Att_LeaveDayModel.FieldNames.DateEnd, 120},
        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_LeaveDayModel.FieldNames.LeaveDayTypeName, ConstantDisplay.HRM_Attendance_Leaveday_LeaveDayTypeID},
            {Att_LeaveDayModel.FieldNames.LeaveDays, ConstantDisplay.HRM_Attendance_Leaveday_LeaveDays},
            {Att_LeaveDayModel.FieldNames.LeaveHours, ConstantDisplay.HRM_Attendance_Leaveday_Duration},
            {Att_LeaveDayModel.FieldNames.Status, ConstantDisplay.HRM_Attendance_Leaveday_Status},
            {Att_LeaveDayModel.FieldNames.DateStart, ConstantDisplay.HRM_Attendance_Leaveday_DateStart},
            {Att_LeaveDayModel.FieldNames.DateEnd, ConstantDisplay.HRM_Attendance_Leaveday_DateEnd},
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
                    {
                        {Att_LeaveDayModel.FieldNames.LeaveHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_LeaveDayModel.FieldNames.LeaveDays, ConstantFormat.HRM_Format_Number_Double},
                    };
        var grid = new GridBuilderInfo
        {
            Name = "gridTab_LeavedayView",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            FormatFields = formatFields,
            ReadActionUrl = _hrm_Hre_Service + "Att_GetData/GetLeavedayByProIDandCutOID",
            ReadData = "filterField_Att",
            AutoBind = true,
            ShowCheckbox = false,
            ForeignKey=foreignKey,
            ShowEditIcon = false
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_LeaveDayModel>(grid)
    )
</div>
