
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> overtimeStatus = Enum.GetValues(typeof(EnumDropDown.OverTimeStatus))
        .Cast<EnumDropDown.OverTimeStatus>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    IList<SelectListItem> lstMethodPayment = Enum.GetValues(typeof(EnumDropDown.MethodPayment))
    .Cast<EnumDropDown.MethodPayment>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();
}
@model Hre_ProfileModelPortal
           <div class="row"></div>
<div class="row">
    @{
        
        Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        {

            {Att_WorkdayModel.FieldNames.Status,new object[]
               { "Value", "Text", overtimeStatus, ConstantDisplay.HRM_Attendance_Overtime_Status,""}},
                  {Att_OvertimeModel.FieldNames.MethodPayment,new object[]
               { "Value", "Text", lstMethodPayment, ConstantDisplay.HRM_Attendance_Overtime_MethodPayment,""}},
        };
        
        var valueFields = new string[]
        {
            Att_OvertimeModel.FieldNames.WorkDate,
            Att_OvertimeModel.FieldNames.ShiftName,
            Att_OvertimeModel.FieldNames.OvertimeTypeName,
            Att_OvertimeModel.FieldNames.RegisterHours,
            Att_OvertimeModel.FieldNames.Status,
            Att_OvertimeModel.FieldNames.UserApproveName1,
            Att_OvertimeModel.FieldNames.UserApproveName2
        };

        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_OvertimeModel.FieldNames.WorkDate, 100},
            {Att_OvertimeModel.FieldNames.ShiftName, 120},
            {Att_OvertimeModel.FieldNames.OvertimeTypeName, 170},
            {Att_OvertimeModel.FieldNames.RegisterHours, 130},
            {Att_OvertimeModel.FieldNames.Status, 140},
            {Att_OvertimeModel.FieldNames.UserApproveName1, 145},
            {Att_OvertimeModel.FieldNames.UserApproveName2, 145}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_OvertimeModel.FieldNames.WorkDate, ConstantDisplay.HRM_Attendance_Overtime_WorkDate},
            {Att_OvertimeModel.FieldNames.ShiftName, ConstantDisplay.HRM_Attendance_Overtime_ShiftID},
            {Att_OvertimeModel.FieldNames.OvertimeTypeName, ConstantDisplay.HRM_Attendance_Overtime_OvertimeTypeID},
            {Att_OvertimeModel.FieldNames.RegisterHours, ConstantDisplay.HRM_Attendance_Overtime_RegisterHours},
            {Att_OvertimeModel.FieldNames.Status, ConstantDisplay.HRM_Attendance_Overtime_Status},
            {Att_OvertimeModel.FieldNames.UserApproveName1, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID},
            {Att_OvertimeModel.FieldNames.UserApproveName2, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID2}
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Att_OvertimeModel.FieldNames.WorkDate, ConstantFormat.HRM_Format_Grid_LongDate}
        };

        var grid = new GridBuilderInfo
        {
            Name = "gridTab_OvertimeView",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Hre_Service + "Att_GetData/GetOvertimeByProIDandCutOID",
            ReadData = "filterField_Att",
            AutoBind = true,
            ShowCheckbox = false,
            ForeignKey = foreignKey,
            ShowEditIcon = false
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_OvertimeModel>(grid))
</div>