
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var id = string.Empty;
    if (Model != null)
    {
        id = "?profileID=" + Model.ID;
    }
}
@model HRM.Presentation.EmpPortal.Models.Hre_ProfileModelPortal
           <div class="row"></div>
<div class="row">
    @{

        var valueFields = new[]
        {
            Hre_RelativesModel.FieldNames.RelativeName,
            Hre_RelativesModel.FieldNames.Career,
            Hre_RelativesModel.FieldNames.Gender,
            Hre_RelativesModel.FieldNames.YearOfBirth,
            Hre_RelativesModel.FieldNames.RelativeTypeName,
        };

        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Hre_RelativesModel.FieldNames.RelativeName, 150},
            {Hre_RelativesModel.FieldNames.Career, 100},
            {Hre_RelativesModel.FieldNames.Gender, 90},
            {Hre_RelativesModel.FieldNames.YearOfBirth, 120},
            {Hre_RelativesModel.FieldNames.RelativeTypeName, 110}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Hre_RelativesModel.FieldNames.RelativeName, ConstantDisplay.HRM_HR_Relatives_RelativeName},
            {Hre_RelativesModel.FieldNames.Career, ConstantDisplay.HRM_HR_Relatives_Career},
            {Hre_RelativesModel.FieldNames.Gender, ConstantDisplay.HRM_HR_Relatives_Gender},
            {Hre_RelativesModel.FieldNames.YearOfBirth, ConstantDisplay.HRM_HR_Relatives_YearOfBirth},
            {Hre_RelativesModel.FieldNames.RelativeTypeName, ConstantDisplay.HRM_HR_Relatives_RelativeTypeName},
        };


        var grid = new GridBuilderInfo
        {
            Name = "gridRelative",
            ValueFields = valueFields,
            // ReadActionUrl = _hrm_hre_Service + "Hre_GetData/GetRelativesList",
            ReadActionUrl = _hrm_hre_Service + "Hre_GetData/GetRelativeByProfileID"+ id,
            SizeFields = sizeFields,
            AutoBind = true,
            GridHeight = 550,
            DisplayFields = displayFields,
            ShowCheckbox = false,
            ShowEditIcon = false,
            // ReadData = "filterFieldInfo",
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_RelativesModel>(grid))
</div>