
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Evaluation.Models
@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var userId = Session["UserId"];
    var stProfileID = string.Empty;
    //if (Model != null)
    //{
        stProfileID = "?profileID=" + Session["ProfileID"];
    //}
}
@model Eva_SaleEvaluationModel
@*<script>
    function filterFieldInfo(isExport) {
        return {
            ProfileID: '@userId',
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()

        };
    }

</script>*@
<script>
    var selectedIds = [];
    $(document).ready(function () {
     
        $("#toolbar").kendoToolBar({
            items:
            [
                { type: "button", id: "btnCreateSaleEvaluation", text: "Tạo Mới", imageUrl: "/Content/images/icons/add-new-icon.png" },
                { type: "button", id: "btnDeleteSaleEvaluation", text: "Xóa", imageUrl: "/Content/images/icons/delete.png" },
            ],
            click: function (e)
            {
                var id = e.id;
                switch (id) {
                    case "btnCreateSaleEvaluation":
                        debugger;
                        location.href = "/Personal/CreateSaleEvaluation";
                                 @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Att_Overtime_Approve', false);
                        if (!isAccess) {
                            ShowNotificationProcessor('@string.Format(ConstantDisplay.HRM_Common_PermissionNotAllow.TranslateString(), ConstantAction.HRM_Common_Approve.TranslateString())');
                            return;
                        }*@
                        

                        selectedIds = [];
                        break;

                    case "btnDeleteSaleEvaluation":
                        if (selectedIds.length == 0) {
                            DeleteFail();
                            return;
                        }
                        e.preventDefault();
                        var grid = $('#gridSaleEvaluation').data("kendoGrid");
                        var selectedItem = grid.dataItem(grid.select());
                       
                        DeleteSelected("gridSaleEvaluation", "/Personal/RemoveSelected/", selectedIds, '@ConstantPermission.Eva_SaleEvaluation');
                            return false;
                        
                        selectedIds = [];
                        break;
                }
            }

        });
        
        $("#gridSaleEvaluation").on("click", ".gridEditImgButton", function (e) {
            var grid = $('#gridSaleEvaluation').data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
          
                location.href = "/Personal/EditSaleEvaluation/" + selectedItem.ID;
          
              
           
        });

        });
</script>
    <div class="row">
        <div id="toolbar" ></div>

    </div>
    <div class="row">
        @{
        <!--Khai báo các thông tin cho Grid-->

        //Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        //{
        //    {Eva_SaleEvaluationModel.FieldNames.SalesTypeID ,new object[]
        //        {  "ID", Eva_SaleEvaluationModel.FieldNames.SalesTypeName, ViewData["Eva_SalesType"], ConstantDisplay.HRM_Evaluation_SaleEvaluation_SalesTypeID,""}},
        //};
        string[] valueFields = new string[]
        {
          //  Eva_SaleEvaluationModel.FieldNames.ProfileName,
          //  Eva_SaleEvaluationModel.FieldNames.CodeEmp,
            Eva_SaleEvaluationModel.FieldNames.OrgStructureName,
            Eva_SaleEvaluationModel.FieldNames.Year,
            Eva_SaleEvaluationModel.FieldNames.SalesTypeName,
            Eva_SaleEvaluationModel.FieldNames.TagetNumber,
            Eva_SaleEvaluationModel.FieldNames.ResultNumber,
            Eva_SaleEvaluationModel.FieldNames.ResultPercent
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
         //   {Eva_SaleEvaluationModel.FieldNames.ProfileName, 100},
         //   {Eva_SaleEvaluationModel.FieldNames.CodeEmp, 80},
            {Eva_SaleEvaluationModel.FieldNames.OrgStructureName, 100},
            {Eva_SaleEvaluationModel.FieldNames.Year, 100},
            {Eva_SaleEvaluationModel.FieldNames.SalesTypeName, 200},
            {Eva_SaleEvaluationModel.FieldNames.TagetNumber, 80},
            {Eva_SaleEvaluationModel.FieldNames.ResultNumber, 80},
            {Eva_SaleEvaluationModel.FieldNames.ResultPercent, 80},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
          //  {Eva_SaleEvaluationModel.FieldNames.ProfileName, ConstantDisplay.HRM_HR_Profile_ProfileName},
          //  {Eva_SaleEvaluationModel.FieldNames.CodeEmp, ConstantDisplay.HRM_HR_Profile_CodeEmp},
            {Eva_SaleEvaluationModel.FieldNames.OrgStructureName, ConstantDisplay.HRM_HR_Profile_OrgStructureName},
            {Eva_SaleEvaluationModel.FieldNames.Year, ConstantDisplay.HRM_Evaluation_SaleEvaluation_Year},
            {Eva_SaleEvaluationModel.FieldNames.SalesTypeName, ConstantDisplay.HRM_Evaluation_SaleEvaluation_SalesTypeID},
            {Eva_SaleEvaluationModel.FieldNames.TagetNumber, ConstantDisplay.HRM_Evaluation_SaleEvaluation_TagetNumber},
            {Eva_SaleEvaluationModel.FieldNames.ResultNumber, ConstantDisplay.HRM_Evaluation_SaleEvaluation_ResultNumber},
            {Eva_SaleEvaluationModel.FieldNames.ResultPercent, ConstantDisplay.HRM_Evaluation_SaleEvaluation_ResultPercent},
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Eva_SaleEvaluationModel.FieldNames.Year, ConstantFormat.HRM_Format_MonthYear}
        };

        var grid = new GridBuilderInfo
        {
            Name = "gridSaleEvaluation",
            ValueFields = valueFields,
            FormatFields = formatFields,
            ReadActionUrl = _hrm_Hre_Service + "Eva_GetData/GetSaleEvaluationListByProID" + stProfileID,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
          //  ReadData = "filterFieldInfo",
            AutoBind = true

        };
    }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Eva_SaleEvaluationModel>(grid))

    </div>

