
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listSrcType = Enum.GetValues(typeof(EnumDropDown.TamScanLogSrcType))
        .Cast<EnumDropDown.TamScanLogSrcType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    IList<SelectListItem> listType = Enum.GetValues(typeof(EnumDropDown.TamScanLogType))
    .Cast<EnumDropDown.TamScanLogType>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();
}
@model Hre_ProfileModelPortal

<div class="row"></div>
<div class="row">
    @{
        Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        {
              {Att_TAMScanLogModel.FieldNames.Type,new object[]
               { "Value", "Text", listType, ConstantDisplay.HRM_Attendance_TAMScanLog_Type,""}},
               
                {Att_TAMScanLogModel.FieldNames.Status,new object[]
               { "Value", "Text", listSrcType, ConstantDisplay.HRM_Attendance_WorkDay_SrcType,""}},
        };
        
        var valueFields = new string[]
        {
            Att_TAMScanLogModel.FieldNames.CardCode,
            Att_TAMScanLogModel.FieldNames.Type,
            Att_TAMScanLogModel.FieldNames.Status,
            Att_TAMScanLogModel.FieldNames.TimeLog,
            Att_TAMScanLogModel.FieldNames.MachineNo,
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_TAMScanLogModel.FieldNames.CardCode, 150},
            {Att_TAMScanLogModel.FieldNames.Type, 120},
            {Att_TAMScanLogModel.FieldNames.Status, 190},
            {Att_TAMScanLogModel.FieldNames.TimeLog, 150},
            {Att_TAMScanLogModel.FieldNames.MachineNo, 140},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_TAMScanLogModel.FieldNames.CardCode, ConstantDisplay.HRM_Attendance_TAMScanLog_CardCode},
            {Att_TAMScanLogModel.FieldNames.Type, ConstantDisplay.HRM_Attendance_TAMScanLog_Type},
            {Att_TAMScanLogModel.FieldNames.Status, "Bảng Lương Tham Chiếu"},//ConstantDisplay.HRM_Attendance_TAMScanLog_Status},
            {Att_TAMScanLogModel.FieldNames.TimeLog, ConstantDisplay.HRM_Attendance_TAMScanLog_DateFrom},
            {Att_TAMScanLogModel.FieldNames.MachineNo, ConstantDisplay.HRM_Attendance_TAMScanLog_MachineNo},
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Att_TAMScanLogModel.FieldNames.TimeLog, ConstantFormat.HRM_Format_DayMonthYear_HoursMin.TranslateString() }
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridTab_TAMScanLogView",
            ValueFields = valueFields,
            FormatFields = formatFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Hre_Service + "Att_GetData/GetTAMScanLogByProfileID",
            ReadData = "filterField_Att",
            EventDataBound = "changePageGird",
            ShowCheckbox = false,
            AutoBind = true,
            ShowEditIcon = false,
            ForeignKey = foreignKey
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_TAMScanLogModel>(grid))
</div>