
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

@model Hre_ProfileModelPortal
<div class="row"></div>
<div class="row">
    @{
        var valueFields = new string[]
        {
            Att_WorkdayModel.FieldNames.WorkDate,
            Att_WorkdayModel.FieldNames.FirstInTime,
            Att_WorkdayModel.FieldNames.LastOutTime,
            Att_WorkdayModel.FieldNames.ShiftName,
            Att_WorkdayModel.FieldNames.WorkDuration,
            Att_WorkdayModel.FieldNames.LateEarlyDuration
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate,90},
            {Att_WorkdayModel.FieldNames.FirstInTime,110},
            {Att_WorkdayModel.FieldNames.LastOutTime,110},
            {Att_WorkdayModel.FieldNames.ShiftName,130}  ,
            {Att_WorkdayModel.FieldNames.WorkDuration,130},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration,140}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_WorkDay_WorkDate},
            {Att_WorkdayModel.FieldNames.FirstInTime,ConstantDisplay.HRM_Attendance_WorkDay_FirstInTime},
            {Att_WorkdayModel.FieldNames.LastOutTime,ConstantDisplay.HRM_Attendance_WorkDay_LastOutTime},
            {Att_WorkdayModel.FieldNames.ShiftName,ConstantDisplay.HRM_Attendance_WorkDay_ShiftID},
            {Att_WorkdayModel.FieldNames.WorkDuration,ConstantDisplay.HRM_Attendance_WorkDay_WorkDuration},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration,ConstantDisplay.HRM_Attendance_WorkDay_LateEarlyDuration}
        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate, ConstantFormat.HRM_Format_DayMonthYear},
            {Att_WorkdayModel.FieldNames.FirstInTime, ConstantFormat.HRM_Format_HourMinSecond},
            {Att_WorkdayModel.FieldNames.LastOutTime, ConstantFormat.HRM_Format_HourMinSecond},
            {Att_WorkdayModel.FieldNames.WorkDuration, ConstantFormat.HRM_Format_Number_Double},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration, ConstantFormat.HRM_Format_Number_Double},
        };

        var grid = new GridBuilderInfo
        {
            Name = "gridTab_WorkDayView",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            FormatFields = formatFields,
            DeleteActionUrl = _hrm_Main_Web + "/Att_WorkDay/Remove/",
            ReadActionUrl = _hrm_Hre_Service + "Att_GetData/GetWorkDayByProIDandCutOID",
            ReadData = "filterField_Att",
            AutoBind = true,
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_WorkdayModel>(grid))

</div>