@*@using HRM.Presentation.UI.Controls.Kendo
    
    @using HRM.Presentation.EmpPortal.Models
    @using HRM.Presentation.EmpPortal.Commons;

    <div>
        @{
            string[] valueFields = new[]
            {
                LeavesSummaryModel.FieldNames.LeavesType,
                LeavesSummaryModel.FieldNames.Entitled,
                LeavesSummaryModel.FieldNames.Taken,
                LeavesSummaryModel.FieldNames.Balance,
            };

            var sizeFields = new Dictionary<string, int>()
            {
                {LeavesSummaryModel.FieldNames.LeavesType,130},
                {LeavesSummaryModel.FieldNames.Entitled,80},
                {LeavesSummaryModel.FieldNames.Taken,80},
                {LeavesSummaryModel.FieldNames.Balance,80},
            };

            var displayFields = new Dictionary<string, string>()
            {
                {LeavesSummaryModel.FieldNames.LeavesType,LeavesSummaryModel.FieldNames.LeavesType.TranslateString()},
                {LeavesSummaryModel.FieldNames.Entitled,LeavesSummaryModel.FieldNames.Entitled.TranslateString()},
                {LeavesSummaryModel.FieldNames.Taken,LeavesSummaryModel.FieldNames.Taken.TranslateString()},
                {LeavesSummaryModel.FieldNames.Balance,LeavesSummaryModel.FieldNames.Balance.TranslateString()},
            };

            var grid = new GridBuilderInfo
            {
                Name = ControlNamePortal.GridLeaveSummary,
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ShowEditIcon = false,
                AutoBind = true,
                GridHeight = 205,
                Controller = "",
                ReadActionUrl ="",
                ReadData = "readData",
            };
        }

        @(Html.VnrGrid<LeavesSummaryModel>(grid))
    </div>*@

<div id="orders" class="ra-section k-grid k-widget" data-role="grid">
    <table role="grid">
        <colgroup>
            <col style="width:70px">
            <col style="width:20%">
            <col>
        </colgroup>
        <thead class="k-grid-header" role="rowgroup">
            <tr role="row">
                <th role="columnheader" data-field="OrderID" class="k-header" data-role="columnsorter">
                    <a class="k-link" href="#">Loại nghỉ</a>
                </th>
                <th role="columnheader" data-field="ShipCountry" data-title="Ship Country" class="k-header" data-role="columnsorter">
                    <a class="k-link" href="#">Được nghỉ</a>
                </th>
                <th role="columnheader" data-field="ShipCountry" data-title="Ship Country" class="k-header" data-role="columnsorter">
                    <a class="k-link" href="#">Đã nghỉ</a>
                </th>
                <th role="columnheader" data-field="ShipAddress" data-title="Ship Address" class="k-header" data-role="columnsorter">
                <a class="k-link" href="#">Còn lại<span class="k-icon k-i-arrow-n"></span></a></th>
            </tr>
        </thead>
        <tbody role="rowgroup">
            <tr data-uid="944ae95b-74f6-40fe-b044-585ab62dca6e" role="row">
                <td role="gridcell">Phép năm</td>
                <td role="gridcell">11</td>
                <td role="gridcell">0</td>
                <td role="gridcell">11</td>
            </tr>
            <tr class="k-alt" data-uid="10cd6dfa-b136-47a6-93d9-1f09bae8b510" role="row">
            <td role="gridcell">Phép bệnh</td>
                <td role="gridcell">8</td>
            <td role="gridcell">0</td>
            <td role="gridcell">8</td></tr>
           
            <tr data-uid="e1b08dbc-5c5b-468a-91b6-da249da74b42" role="row">
            <td role="gridcell">Nghỉ con ốm</td>
                <td role="gridcell">6</td>
            <td role="gridcell">3</td>
            <td role="gridcell">3</td>
            </tr>
            <tr class="k-alt" data-uid="e1b08dbc-5c5b-468a-91b6-da249da74b42" role="row">
                <td role="gridcell">Nghỉ bù</td>
                <td role="gridcell">7</td>
                <td role="gridcell">0</td>
                <td role="gridcell">7</td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .k-grid tbody tr {
        height: 44px;
    }
</style>