@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Recruitment.Models

@model HRM.Presentation.Recruitment.Models.Rec_RecruitmentHistoryModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    @Html.HiddenFor(mode => mode.ID)
</div>
<div class="VnRMain">
    <div id="tabtrip">
        <ul>
            <li class="k-state-active">@ConstantDisplay.CandidateInformation.TranslateString()</li>
        </ul>
        <div>
            @Html.Partial("Tab_RecruitmentHistoryInfo", Model)
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabtrip").kendoTabStrip();
    });
</script>


