@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    string contractID = "";
    if (Model != null)
    {
        contractID = Model.ID.ToString();
    }
}
@model Hre_ContractModel
<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_HR_Contract_Tab_Title.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_HR_Contract_Evaluation_Tab_Title.TranslateString()
        </li>

    </ul>
    <div></div>
    <div></div>

</div>
<script>
    $(document).ready(function () {

        var countTab=2;
        LoadContent("tabstrip-" + 1);
        setTimeout(function () {
            for (var i = 1; i <= countTab; i++) {
                LoadContent("tabstrip-" + i);
            }
        }, 1000);

    });



    function LoadContent(tabID) {
        $.ajax({
            url: FindPostUrl(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    function onSelectTabs(e) {
        
        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrl(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }

    });


    function FindPostUrl(tabid) {
        
        switch (tabid) {
            case "tabstrip-1":
                return '@_hrm_Main_Web' + 'Hre_ExpiryContract/CreateOrUpdate?id=' + '@contractID';
                break;
            case "tabstrip-2":
                return '@_hrm_Main_Web' + 'Hre_ExpiryContract/EvaContract?id=' + '@contractID';
                break;


            default:
                return "";
        }
    };
</script>
