@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models;
@using HRM.Infrastructure.Security;
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<div style="padding-top: 3px">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Tra_TraineeChangeClassImportModel.FieldNames.CodeEmp,
            Tra_TraineeChangeClassImportModel.FieldNames.ClassOldCode,
            Tra_TraineeChangeClassImportModel.FieldNames.ClassNewCode

        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Tra_TraineeChangeClassImportModel.FieldNames.CodeEmp,100},
            {Tra_TraineeChangeClassImportModel.FieldNames.ClassOldCode,130},
            {Tra_TraineeChangeClassImportModel.FieldNames.ClassNewCode,130},
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Tra_TraineeChangeClassImportModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Att_Report_CodeEmp},
            {Tra_TraineeChangeClassImportModel.FieldNames.ClassOldCode,ConstantDisplay.HRM_Tra_Class_ClassOldCode},
            {Tra_TraineeChangeClassImportModel.FieldNames.ClassNewCode,ConstantDisplay.HRM_Tra_Class_ClassNewCode},
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_DataError_ImportTrainee",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hre_Service + "Tra_GetData/ChangeClass/",
            ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }

    @(Html.VnrGrid<Tra_TraineeChangeClassImportModel>(grid))
</div>

