@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.IsFormulaLeave)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrCheckBoxFor(mode => mode.IsFormulaLeave, new CheckBoxBuilderInfo() { Value = Model != null ? Model.IsFormulaLeave != null ? (bool)Model.IsFormulaLeave : false : false })
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.LeaveWorkdayFormula)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.LeaveWorkdayFormula)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>

            </tr>
        </tbody>
    </table>
</div>
@*<script type="text/javascript">
    //Ẩn hiện thanh nhập công thức
    $("input[type=radio][name=ComputingSalaryMethodInLeave]").change(function () {
        
        if ($("#IsFormulaLeave")[0].checked) {
            $("#divLeaveFormula").show();
        }
        else {
            $("#divLeaveFormula").hide();
        }
    });

</script>*@
