@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script type="text/javascript">
    function GetLateEarlyRuleData() {
        return {
            GradeAttID: '@Model.ID'
        };
    }

</script>
   <!--Khai báo các thông tin cho Grid-->
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo
@{
    string[] valueFields = new string[]
        {
            //Cat_GradeAttendanceModel.FieldNames.ID,
            CatLateEarlyRuleModel.FieldNames.Order,
            CatLateEarlyRuleModel.FieldNames.MinValue,
            CatLateEarlyRuleModel.FieldNames.MaxValue,
            CatLateEarlyRuleModel.FieldNames.RoundValue,
         
        };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            //{Cat_GradeAttendanceModel.FieldNames.ID,50},
            {CatLateEarlyRuleModel.FieldNames.Order,150},
            {CatLateEarlyRuleModel.FieldNames.MinValue,120},
            {CatLateEarlyRuleModel.FieldNames.MaxValue, 120},
            {CatLateEarlyRuleModel.FieldNames.RoundValue, 100},
      
        };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            //{Cat_GradeAttendanceModel.FieldNames.ID,"<div></div>"},
            {CatLateEarlyRuleModel.FieldNames.Order, ConstantDisplay.HRM_Category_LateEarlyRule_Order},
            {CatLateEarlyRuleModel.FieldNames.MinValue, ConstantDisplay.HRM_Category_LateEarlyRule_MinValue},
            {CatLateEarlyRuleModel.FieldNames.MaxValue, ConstantDisplay.HRM_Category_LateEarlyRule_MaxValue},
            {CatLateEarlyRuleModel.FieldNames.RoundValue, ConstantDisplay.HRM_Category_LateEarlyRule_RoundValue},
      
        };
    var grid = new GridBuilderInfo
    {
        Name = "gridCat_LateEarlyRule",
        ValueFields = valueFields,
        SizeFields = sizeFields,
        DisplayFields = displayFields,
        ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetCatLateEarlyRuleByCfgIDList/",
        //CreateActionUrl="",
        EditActionUrl = _hrm_Hr_Service + "Cat_GetData/CreateInCellLateEarly?id=" + Model.ID,
        DeleteActionUrl = _hrm_Hr_Service+ "api/CatLateEarlyRule/",
        CreateActionUrl = _hrm_Hr_Service + "Cat_GetData/CreateInCellLateEarly?id=" + Model.ID,
        GridHeight=300,
        EvenEdit="onEdit",
        ShowCheckbox=false,
        ShowEditIcon=false,
        AutoBind=true,
        //Batch=true,
        ReadData="GetLateEarlyRuleData",
        ShowCreateButton=true,
        ShowDeleteButton=true,
        ShowCommand=true,
        Batch = true,
        //ShowCommand=true,
        //ShowCreateButton=true,
        EditMode=GridEditMode.InCell,
        ShowSaveButton=true,
        //ShowDeleteButton=true,
    };
}
<!--Khởi tạo Grid-->
@(Html.VnrGrid<CatLateEarlyRuleModel>(grid))