@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_ProfileModel          
@{
    ViewBag.Title = "Edit Profile Retirement";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    var checkedNodes = [];
    //function checkedNodeIds(nodes, checkedNodes) {
    //    for (var i = 0; i < nodes.length; i++) {
    //        if (nodes[i].checked) {
    //            checkedNodes.push(nodes[i].id);
    //        }
    //        if (nodes[i].hasChildren) {
    //            checkedNodeIds(nodes[i].children.view(), checkedNodes);
    //        }
    //    }
    //}
    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        document.getElementById("OrgStructureID").setAttribute("value", checkedNodes[0]);
        checkedNodes = [];
    }
    var data = SetCharacteFieldRequired();
    function doEditProfile() {
        
        var result = false;
        if (CheckValidate(data)) {
            var _ReceiveHealthIns = document.getElementById("ReceiveHealthIns");
            var _IsBlackList = document.getElementById("IsBlackList");
            if (_ReceiveHealthIns != null && _ReceiveHealthIns.checked) {
                $("#ReceiveHealthIns").val("true");
            } else {
                $("#ReceiveHealthIns").val("false");
            }
            if (_IsBlackList != null && _IsBlackList.checked) {
                $("#IsBlackList").val("true");
            } else {
                $("#IsBlackList").val("false");
            }
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification");
            result = true;
        }
        return result;
    };
</script>


<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        @ConstantDisplay.HRM_HR_Profile_Edit.TranslateString()<a class="link-back" onclick="clickBack()">(@ConstantDisplay.HRM_HR_Back_To_ProfileQuit_List.TranslateString())</a>
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabHre_Profile", Model)
            </div>
        </div>
    </div>
</form>
