@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models;
@using HRM.Infrastructure.Security;
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<div style="padding-top: 3px">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Att_ImportRosterModel.FieldNames.CodeEmp,
            Att_ImportRosterModel.FieldNames.ProfileName,
     	    Att_ImportRosterModel.FieldNames.CodeOrg,
            Att_ImportRosterModel.FieldNames.DateStart,
            Att_ImportRosterModel.FieldNames.DateEnd,
            Att_ImportRosterModel.FieldNames.MonShift,
            Att_ImportRosterModel.FieldNames.TueShift,
            Att_ImportRosterModel.FieldNames.WedShift,
            Att_ImportRosterModel.FieldNames.ThuShift,
            Att_ImportRosterModel.FieldNames.FriShift,
            Att_ImportRosterModel.FieldNames.SatShift,
            Att_ImportRosterModel.FieldNames.SunShift,
            Att_ImportRosterModel.FieldNames.Description

        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Att_ImportRosterModel.FieldNames.CodeEmp,100},
            {Att_ImportRosterModel.FieldNames.ProfileName,130},
            {Att_ImportRosterModel.FieldNames.MonShift,100},
            {Att_ImportRosterModel.FieldNames.TueShift,100},
            {Att_ImportRosterModel.FieldNames.WedShift,100},
            {Att_ImportRosterModel.FieldNames.ThuShift,100},
            {Att_ImportRosterModel.FieldNames.FriShift,100},
            {Att_ImportRosterModel.FieldNames.SatShift,100},
            {Att_ImportRosterModel.FieldNames.SunShift,100},
            {Att_ImportRosterModel.FieldNames.Description,100},
            
        };

        var displayFields = new Dictionary<string, string>()
        {
      	    {Att_ImportRosterModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Attendance_Roster_CodeEmp},
            {Att_ImportRosterModel.FieldNames.ProfileName,ConstantDisplay.HRM_Attendance_Roster_ProfileName},
            {Att_ImportRosterModel.FieldNames.CodeOrg,ConstantDisplay.HRM_Attendance_Roster_CodeOrg},
            {Att_ImportRosterModel.FieldNames.DateStart,ConstantDisplay.HRM_Attendance_Roster_DateStart},
            {Att_ImportRosterModel.FieldNames.DateEnd,ConstantDisplay.HRM_Attendance_Roster_DateEnd},
            {Att_ImportRosterModel.FieldNames.MonShift,ConstantDisplay.HRM_Attendance_Roster_MonShiftName},
            {Att_ImportRosterModel.FieldNames.TueShift,ConstantDisplay.HRM_Attendance_Roster_TueShiftName},
            {Att_ImportRosterModel.FieldNames.WedShift,ConstantDisplay.HRM_Attendance_Roster_WedShiftName},
            {Att_ImportRosterModel.FieldNames.ThuShift,ConstantDisplay.HRM_Attendance_Roster_ThuShiftName},
            {Att_ImportRosterModel.FieldNames.FriShift,ConstantDisplay.HRM_Attendance_Roster_FriShiftName},
            {Att_ImportRosterModel.FieldNames.SatShift,ConstantDisplay.HRM_Attendance_Roster_SatShiftName},
            {Att_ImportRosterModel.FieldNames.SunShift,ConstantDisplay.HRM_Attendance_Roster_SunShiftName},
            {Att_ImportRosterModel.FieldNames.Description,ConstantDisplay.HRM_Attendance_Roster_Comment},

        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_DataError_ImportRoster",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            // ReadActionUrl = _hrm_Hre_Service + "Tra_GetData/ImportScore/",
            //ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }

    @(Html.VnrGrid<Att_ImportRosterModel>(grid))
</div>



