@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo.TabStrip
@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _Hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}

@model  HRM.Presentation.HrmSystem.Models.Sys_GeneralConfigModel

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_Configuration.TranslateString()
        </li>
        <li>
            Lương
        </li>
        <li>
            Trang Chủ
        </li>


    </ul>
    <div>@Html.Partial("General_MailConfig", Model)</div>
    <div></div>
    <div>
        @Html.Partial("main_MailConfig", Model)
    </div>
    
</div>
<script>
    $(document).ready(function () {

        var countTab = 2;
        LoadContent("tabstrip-" + 1);
        setTimeout(function () {
            for (var i = 1; i <= countTab; i++) {
                LoadContent("tabstrip-" + i);
            }
        }, 1000);

    });

    function LoadContent(tabID) {
        $.ajax({
            url: FindPostUrl(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {
                debugger;
            }
        });
    };

    function onSelectTabs(e) {
        debugger;
        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrl(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {
                debugger;
            }
        });
    };

    $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }

    });

    function FindPostUrl(tabid) {
        debugger;
        switch (tabid) {
            case "tabstrip-1":
                return '@_Hrm_Sys_Web' + 'Sys_ConfigGeneral/General_MailConfig';
                break;
            case "tabstrip-2":
                return '@_Hrm_Sys_Web' + 'Sys_ConfigGeneral/General_Payroll';
                break;



            default:
                return "";
        }
    };
    
</script>