@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    string contractID = "";
    if (Model != null)
    {
        contractID = Model.ID.ToString();
    }
}
<script>
    $("input[name=ProfileID]").val(SelectID);
    function onSaveClose() {
        onSaveAndClose($('#form_tabContractInfo'), '@_Hrm_Hre_Service', 'api/Hre_Contract/', 'gridHre_Contract', 'windowContract'); return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_tabContractInfo'), '@_Hrm_Hre_Service', 'api/Hre_Contract/', 'gridHre_Contract'); return false;
    }
</script>

@model Hre_ContractModel
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_tabContractInfo" }))
{
    <div id="tabstriptabContractInfo">
        <ul>
            <li class="k-state-active">
                @ConstantDisplay.HRM_HR_Contract_Tab_Title.TranslateString()
            </li>
            <li>
                @ConstantDisplay.HRM_HR_Contract_Evaluation_Tab_Title.TranslateString()
            </li>
        </ul>
        <div></div>
        <div></div>
    </div>
}

<div id="div10">
    <div class="FieldTitle170"></div>
    <div class="FieldValue">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-TabContractInfo", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "saveandclose-TabContractInfo", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
    </div>
</div>
<script>
    $(document).ready(function () {
        var countTab = 2;
        LoadContentContract("tabstriptabContractInfo-" + 1);
        setTimeout(function () {
            for (var i = 1; i <= countTab; i++) {
                LoadContentContract("tabstriptabContractInfo-" + i);
            }
        }, 1000);

    });

    function LoadContentContract(tabID) {
        $.ajax({
            url: FindPostUrlContract(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {

            }
        });
    };

    function onSelectTabsContract(e) {

        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrlContract(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {

            }
        });
    };

    $("#tabstriptabContractInfo").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }

    });

    function FindPostUrlContract(tabid) {

        switch (tabid) {
            case "tabstriptabContractInfo-1":
                return '@_hrm_Main_Web' + 'Hre_Contract/TabContractInfo?id=' + '@contractID';
                break;
            case "tabstriptabContractInfo-2":
                return '@_hrm_Main_Web' + 'Hre_Contract/TabEvaContractInfo?id=' + '@contractID';
                break;
            default:
                return "";
        }
    };
</script>
