@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.UI.Controls.Kendo.DropDownList;
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Category.Models;

@model HRM.Presentation.Category.Models.Cat_GradePayrollModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;



}
<script type="text/javascript">
  
</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; float: left; width:100%">
                        <div class="FieldTitle">
                            @Html.VnrLabel(ConstantDisplay.HRM_HR_Profile_Insurance.TranslateString())
                        </div>
                        <div class="FieldValue" style="float: left;width:85%">

                            <div>
                                @Html.Partial("_InsuranceGrid", Model)
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>

</div>

