@using HRM.Infrastructure.Utilities

@using HRM.Infrastructure.Security;

@model HRM.Presentation.Category.Models.CatImportItemModel

@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_ImportItem.TranslateString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <div class="title">
        <img src="@HRM.Infrastructure.Utilities.ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" style="float:left" />
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
     <!--Khai báo các thông tin cho Grid-->
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo

@{
    string[] valueFields = new string[]
        {
            CatImportItemModel.FieldNames.Code,
            CatImportItemModel.FieldNames.ImportID,
            CatImportItemModel.FieldNames.ChildFieldLevel1,
            CatImportItemModel.FieldNames.ChildFieldLevel2,
            CatImportItemModel.FieldNames.ExcelField,
            CatImportItemModel.FieldNames.AllowNull,
            CatImportItemModel.FieldNames.AllowDuplicate,
            CatImportItemModel.FieldNames.DuplicateGroup

        };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {CatImportItemModel.FieldNames.Code,150},
            {CatImportItemModel.FieldNames.ImportID,150},
            {CatImportItemModel.FieldNames.ChildFieldLevel1,150},
            {CatImportItemModel.FieldNames.ChildFieldLevel2,150},
            {CatImportItemModel.FieldNames.ExcelField,150},
            {CatImportItemModel.FieldNames.AllowNull,150},
            {CatImportItemModel.FieldNames.AllowDuplicate,150},
            {CatImportItemModel.FieldNames.DuplicateGroup,150}
        };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {

            {CatImportItemModel.FieldNames.Code, ConstantDisplay.HRM_Category_Cat_ImportItem_Code},
            {CatImportItemModel.FieldNames.ImportID, ConstantDisplay.HRM_Category_Cat_ImportItem_ImportID},
            {CatImportItemModel.FieldNames.ChildFieldLevel1, ConstantDisplay.HRM_Category_Cat_ImportItem_ChildFieldLevel1},
            {CatImportItemModel.FieldNames.ChildFieldLevel2, ConstantDisplay.HRM_Category_Cat_ImportItem_ChildFieldLevel2},
            {CatImportItemModel.FieldNames.ExcelField, ConstantDisplay.HRM_Category_Cat_ImportItem_ExcelField},
            {CatImportItemModel.FieldNames.AllowNull, ConstantDisplay.HRM_Category_Cat_ImportItem_AllowNull},
            {CatImportItemModel.FieldNames.AllowDuplicate, ConstantDisplay.HRM_Category_Cat_ImportItem_AllowDuplicate},
            {CatImportItemModel.FieldNames.DuplicateGroup, ConstantDisplay.HRM_Category_Cat_ImportItem_DuplicateGroup}
        };
    
        var grid = new GridBuilderInfo
        {
            Name = "ImportItem",
            ValueFields = valueFields,
            ShowCommand = true,
            ShowEditButton = true,
            ShowCreateButton = true,
            ShowDeleteButton = true,
            EditActionUrl = "/CatImportItem/Create/",
            CreateActionUrl = "/CatImportItem/Create/",
            DeleteActionUrl = "/CatImportItem/Delete/",
            EditTemplate = "InsertCatImportItem",
            ReadActionUrl = "/CatImportItem/GetAllCatImportItem/",
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };

    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatImportItemModel>(grid)
        .Navigatable()
    )
</div>