@{
    Layout = null;
    string _hrm_Main_Web = System.Configuration.ConfigurationManager.AppSettings["Hrm_Main_Web"];
    string _hrm_Hre_Service = System.Configuration.ConfigurationManager.AppSettings["Hrm_Hre_Service"];
}
@model HRM.Presentation.Hr.Models.CreateTemplateModel
<form action="#" method="POST" id="form-create">
    <div>
        Tên Template
    </div>
    <div>
        @Html.TextBoxFor(model => model.TemplateName, new { @class = "k-textbox" })
    </div>
    <div>
        Template lưới động
    </div>
    <div>
        @Html.CheckBoxFor(model => model.IsDynamic)
    </div>
    <div>
        File template
    </div>
    <div>
        <input type="file" name="files" id="UploadTemplateFile" />
        @Html.HiddenFor(model => model.TemplateFile)
    </div>
    @Html.HiddenFor(model => model.ScreenName)
    <script>
        var vnrUpload = VnrUploadBuilder;
        vnrUpload.Id = "UploadTemplateFile";
        vnrUpload.Host = '@_hrm_Main_Web';
        vnrUpload.Field = "TemplateFile";
        vnrUpload.AutoUpload = true;
        VnrUpload(vnrUpload);

        $(document).ready(function () {
            var screen = $("#Screen").val();
            $("#ScreenName").val(screen)
        });
    </script>
    <br />
    <input type="button" name="name" id="btnCreateTemplateCode" class="k-button" value="Tạo mới" />
</form>

<script>
        $("#btnCreateTemplateCode").click(function () {
            //Cách lấy theo form ko hieu sao truyen chua dc nen dung tam cách này
            var v1 = $("#TemplateName").val();
            var v2 = $("#IsDynamic").val();
            var v3 = $("#TemplateFile").val();
            var v4 = $("#ScreenName").val();
            alert(v2);
            $.ajax({
                url: '@_hrm_Hre_Service' + 'Hre_GetData/CreateTemplate',
                //data: $("#form-create").serialize(),
                data : {t1:v1,t2:v2,t3:v3,t4:v4 },
                type: 'POST',
                success: function (data) {
                    ShowNotificationProcessor(data.ActionStatus);
                    location.reload();
                },
                error: function (data) {
                    ShowNotificationProcessor("error,Thêm Mới Thất Bại");
                }
            });
        });
</script>
