
@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> lst = new List<SelectListItem>()
    {
        new SelectListItem() {
        Text = "12 Angry Men", Value ="1"
        },
        new SelectListItem() {
        Text = "Il buono, il brutto, il cattivo.", Value ="2"
        },
        new SelectListItem() {
        Text = "Inception", Value ="3"
        },
        new SelectListItem() {
        Text = "One Flew Over the Cuckoo's Nest", Value ="4"
        },
        new SelectListItem() {
        Text = "Pulp Fiction", Value ="5"
        },
        new SelectListItem() {
        Text = "Schindler's List", Value ="6"
        },
        new SelectListItem() {
        Text = "The Dark Knight", Value ="7"
        },
        new SelectListItem() {
        Text = "The Godfather", Value ="8"
        },
        new SelectListItem() {
        Text = "The Godfather: Part II", Value ="9"
        },
        new SelectListItem() {
        Text = "The Shawshank Redemption", Value ="10"
        },
        new SelectListItem() {
        Text = "The Shawshank Redemption 2", Value ="10"
        }
    };
}
<div class="configuration-horizontal">
    
    <div class="config-section">
                <input id="word" value="The" class="k-textbox" style="width: 149px; margin: 0;" />
    </div>
</div>

<div class="demo-section">
    @(Html.Kendo().MultiSelect()
    .Name("movies")
    .Placeholder("Select movie...")
    .Filter(FilterType.Contains)
    .BindTo(lst)
    )
</div>

<script>
    $(document).ready(function () {
        var multiselect = $("#movies").data("kendoMultiSelect"),
            setSearch = function (e) {
                if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                    multiselect.search($("#word").val());
                }
            };
        $("#word").keypress(setSearch);
    });
</script>
