@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@{
    // ViewBag.Title = "Index";
    Layout = null;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
<script>
    function updateResource() {
        
        showAjaxLoading();
        //Update lại resource
        $.ajax({
            url: '@hrm_Sys_Web' + 'Sys_SynDataHrm7/SynDataHrm7',
            type: 'POST',
            success: function (data) {
                
                hideAjaxLoading();
                var notificationWidget = $("#popupNotification").kendoNotification().data("kendoNotification");
                notificationWidget.show("Cập nhật resource thành công");
            }
        });
    }

</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>

        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left; margin-top: 10px">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "updateResource", Name = "btnUpdateResource", Content = @ConstantDisplay.HRM_System_SyncData.TranslateString(), ImageUrl = ConstantPath.IconEditPath })
    </div>
</div>
<div>
</div>




