@{
    ViewBag.Title = "Org Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Hre_Service = HRM.Infrastructure.Utilities.ConstantPathWeb.Hrm_Hre_Service;
}
<div class="container">
    <div class="row">
        <ul class="breadcrumb hidden-xs" style="margin-bottom:auto">
            <li><a href="/Portal/Home">Trang Chủ</a></li>
            <li style="width: 80px;"><a href="#">Nhân Sự</a></li>
            <li class="active">Tổ Chức Công Ty</li>
        </ul>
    </div>
</div>
<div style="min-height: 550px; max-width: 100%; ">
    <iframe src="@Url.Action("OrgChart", "Hre_OrgChart")" frameborder="0" style="overflow: hidden; min-height: 550px; width: 100%" height="100%" width="100%"></iframe>
</div>
