@{
    Layout = null;
    var _hrm_Hre_Service = HRM.Infrastructure.Utilities.ConstantPathWeb.Hrm_Hre_Service;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/getorgchart.js"></script>
    <link href="~/Content/css/getorgchart.css" rel="stylesheet" />

</head>

<body>
    <div id="people"></div>
    <script>
        $(document).ready(function () {
            //setTimeout(function () {
            //    debugger;
            //    var linksToGoogle = $('a[href="http://getorgchart.com"]');
            //    linksToGoogle[0].parentNode.removeChild(linksToGoogle[0]);
            //    var div = document.getElementsByTagName("a");
            //}, 2000);
            debugger;
            $.ajax({
                url: '@_hrm_Hre_Service' + "Hre_GetData/GetOrgChartPortal",
                type: "POST",
                datatype: "json",
                async: false,
                success: function (data) {
                    debugger;
                    $("#people").getOrgChart({
                        color: "blue",
                        theme: "monica",
                        linkType:"B",
                        primaryColumns: ["name", "title"],
                        imageColumn: "image",
                        gridView: true,
                        dataSource: data
                    });
                },
                error: function (data) {
                    alert("Lỗi");
                }
            });
        });

    </script>
</body>
</html>

