@{
    Layout = null;
    var _Hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
@using HRM.Infrastructure.Utilities;
@
<style>
    .accessdenied {
        border: 1px double #DDDDDD;
        position: absolute;
        top:100px;
        right: 25px;
        left:25px;
     
        display: block;
        border-bottom-left-radius: 4px;
        border-top-left-radius : 4px;
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
    }
        .accessdenied .title {
            margin-left: 35px;
            text-align:left;
            padding-top: 25px;
        }
            .accessdenied .title .img {
                padding-bottom: 10px;
            }
        .accessdenied .title .content{
            font-size:22px;
            padding-top: 20px;

        }
        
         .accessdenied .alert {
            line-height: 20px;
            border-top: 1px solid #DDDDDD;
            display: block;
            margin-left : 35px;
            margin-right: 35px;
           
        }
          
        .accessdenied .home .ul .li{
            padding-bottom:10px;
        }
</style>
<script>
        function returnHome() {
            KendoRouteMapping('#Hrm_Main_Web/Home/Dashboard', 'Hrm_Main_Web', '@_Hrm_Main_Web');
        }
</script>
<div class="accessdenied">
    <div class="title">
      
       <h3><img class="img" src="/Content/images/icons/submenu/menu/warning-icon.png" /><span class="content">
           @*@ConstantMessages.AccessDeniedTitle.TranslateString()*@
           </span></h3> 
    </div>
    <div class="alert">
        <p>@ConstantMessages.AccessDeniedContent.TranslateString()
        </p>
   
    </div>
    
    <div class="home">
        <ul>
         <li><A href="#" onclick="returnHome();">@ConstantMessages.AccessDeniedReturn.TranslateString()</A></li>
        </ul>
        
    </div>
</div>