
@{
    Layout = null;
    string _hrm_Main_Web = System.Configuration.ConfigurationManager.AppSettings["Hrm_Main_Web"];
    string _hrm_Hre_Service = System.Configuration.ConfigurationManager.AppSettings["Hrm_Hre_Service"];
}
@*@model HRM.Presentation.Hr.Models.CreateTemplateModel
@using (Html.BeginForm("CreateTemplate", "Home", null, FormMethod.Post, new { Id = "form-create" }))
{
    <div>
        Tên Template
    </div>
    <div>
        @Html.TextBoxFor(model => model.TemplateName)
    </div>
     <div>
        Template lưới động
    </div>
    <div>
        @Html.CheckBoxFor(model => model.IsDynamic)
    </div>
    <div>
        File template
    </div>
    <div>
        <input type="file" name="files" id="UploadTemplateFile" />
        @Html.HiddenFor(model => model.TemplateFile)
    </div>
    @Html.HiddenFor(model=>model.ScreenName)
    <script>
        var vnrUpload = VnrUploadBuilder;
        vnrUpload.Id = "UploadTemplateFile";
        vnrUpload.Host = '@_hrm_Main_Web';
        vnrUpload.Field = "TemplateFile";
        vnrUpload.AutoUpload = true;
        VnrUpload(vnrUpload);

        $(document).ready(function () {
          var screen = $("#Screen").val();
          $("#ScreenName").val(screen)
        });
    </script>
    <br />
    <input type="button" name="name" id="btnCreateTemplateCode" class="k-button" value="Tạo mới" />
}

<script>
    $("#btnCreateTemplateCode").click(function () {
        $.ajax({
            url: '@_hrm_Hre_Service' + 'Hre_GetData/CreateTemplate',
            data: $("#form-create").serialize(),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                ShowNotificationProcessor(data.ActionStatus);
                location.reload();
            },
            error: function (data) {
                ShowNotificationProcessor("error,Thêm Mới Thất Bại");
            }
        });
    });
</script>*@
