@{
    Layout = null;
}
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
<div style="padding-left:10px; padding-top:10px">


    @(Html.Kendo().Chart()
                .Name("BarChart")
                    .Title(ConstantDisplay.HRM_Dashboard_StatisticOrgStructure.TranslateString())
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Column(new double[] { 1.907, 2.943, 2.848, 3.284, 2.263 }).Name(ConstantDisplay.HRM_Dashboard_EmployeeProbation.TranslateString());
            series.Column(new double[] { 4.743, 7.295, 7.175, 6.376, 8.153 }).Name(ConstantDisplay.HRM_HR_EmployeesJoining.TranslateString());
            series.Column(new double[] { 1.010, 1.375, 1.161, 0.684, 1.330 }).Name(ConstantDisplay.HRM_HR_EmployeesExit.TranslateString());
        })

                .CategoryAxis(axis => axis
                    .Name("series-axis")
                    .Categories("Kỹ Thuật - HRM", "Kỹ Thuật - EBM", "Phòng Triển Khai", "Phòng Kinh Doanh", "Phòng Kiểm Thử")
                    .Line(line => line.Visible(false))
                    .Labels(labels => labels.Rotation(0))
                    .MajorGridLines(lines => lines.Visible(false))
                )
                .ValueAxis(axis => axis.Numeric()
                    .Labels(labels => labels.Format("{0}"))
                                    .AxisCrossingValue(0)
                    .Line(line => line.Visible(false))
                )
                .Tooltip(tooltip => tooltip
                    .Visible(true)
                    .Format("{0}")
                            .Template("#= series.name #: #= value #")
                                    //.Background("#ffffff")
                                    .Color("#000000")
                )


    )
</div>