@{
    Layout = null;
}
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
<div style="padding-left:10px; padding-top:10px">


    @(Html.Kendo().Chart()
        .Name("PieChart")
                .Title(title => title
                            .Text(ConstantDisplay.HRM_Dashboard_StatisticEmployeeType.TranslateString())
                    .Position(ChartTitlePosition.Bottom))
                                                    .HtmlAttributes(new { style = "margin:0 auto;border:none; width: 100%;" })
        .Legend(legend => legend
            .Visible(false)
        )
        .Series(series =>
        {
            series.Pie(new dynamic[] {
                new {category="NV Chính Thức",value=55.4,color="#9de219"},
                new {category="NV Thời Vụ",value=15.6,color="#00000"},
                new {category="NV Thử Việc",value=17.8,color="#068c35"},
                new {category="SV Thực Tập",value=11.2,color="#548dd4"},
            })
            .Labels(labels => labels
                .Template("#= category #: #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )

</div>

