@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo.TabStrip

@{
    Layout = null;
}

@model HRM.Presentation.Category.Models.CatContractTypeModel

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_HR_Category_ContractType.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_HR_Category_ContractType_WarningConfiguration.TranslateString()
        </li>
    </ul>
    <div>
        @Html.Partial("ContractType", Model)
    </div>
    <div>
        @Html.Partial("WarningConfiguration", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>