@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Security;

@model  HRM.Presentation.HrmSystem.Models.Sys_EvaConfigModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequired();
    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        var energy = checkedNodes.join();
        document.getElementById("OrgStructureListString").setAttribute("value", checkedNodes[0]);
    }

    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });

    function getParamData() {
        debugger;
        var dateStartMark = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStartMark").val());
        var dateEndMark = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEndMark").val());

        var _DateStartTime1 = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStartTime1").val() + "/0001");
        var _DateEndTime1 = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEndTime1").val() + "/0001");
        var _DateStartTime2 = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStartTime2").val() + "/0001");
        var _DateEndTime2 = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEndTime2").val() + "/0001");
        //
        var isEmployeeEvaluation = document.getElementById("IsEmployeeEvaluation");
        var _IsEmployeeEvaluation = null;
        if (isEmployeeEvaluation != null && isEmployeeEvaluation.checked) {
            _IsEmployeeEvaluation = true;
        } else {
            _IsEmployeeEvaluation = false;
        }
        //
        //var _EmployeeEvaluationContent = $('#EmployeeEvaluationContent').val();
        //
        var isUserApproveEvaluation1 = document.getElementById("IsUserApproveEvaluation1");
        var _IsUserApproveEvaluation1 = null;
        if (isUserApproveEvaluation1 != null && isUserApproveEvaluation1.checked) {
            _IsUserApproveEvaluation1 = true;
        } else {
            _IsUserApproveEvaluation1 = false;
        }
        //
        //var _UserApproveEvaluationContent1 = $('#UserApproveEvaluationContent1').val();
        //
        var isUserApproveEvaluation2 = document.getElementById("IsUserApproveEvaluation2");
        var _IsUserApproveEvaluation2 = null;
        if (isUserApproveEvaluation2 != null && isUserApproveEvaluation2.checked) {
            _IsUserApproveEvaluation2 = true;
        } else {
            _IsUserApproveEvaluation2 = false;
        }
        //
        //var _UserApproveEvaluationContent2 = $('#UserApproveEvaluationContent2').val();
        //
        var isCycle = document.getElementById("IsCycle");
        var _isCycle = null;
        if (isCycle != null && isCycle.checked) {
            _isCycle = true;
        } else {
            _isCycle = false;
        }
        //
        var _CycleDay1 =  $("#CycleDay1").val();
        //
        var _CycleDay2 =  $("#CycleDay2").val();
        //
        var _CycleDay3 = $("#CycleDay3").val();
        //
        var isTime = document.getElementById("IsTime");
        var _IsTime = null;
        if (isTime != null && isTime.checked) {
            _IsTime = true;
        } else {
            _IsTime = false;
        }
        //
        var _TimeDateFrom =  $("#TimeDateFrom").val();
        //
        var _TimeDateTo =$("#TimeDateTo").val();

        return {
            DateStartMark: dateStartMark,
            DateEndMark: dateEndMark,
            DateStartTime1: _DateStartTime1,
            DateEndTime1: _DateEndTime1,
            DateStartTime2: _DateStartTime2,
            DateEndTime2: _DateEndTime2,
            IsEmployeeEvaluation: _IsEmployeeEvaluation,
            //EmployeeEvaluationContent: _EmployeeEvaluationContent,
            IsUserApproveEvaluation1: _IsUserApproveEvaluation1,
            //UserApproveEvaluationContent1: _UserApproveEvaluationContent1,
            IsUserApproveEvaluation2: _IsUserApproveEvaluation2,
            //UserApproveEvaluationContent2: _UserApproveEvaluationContent2,
            IsCycle: _isCycle,
            CycleDay1: _CycleDay1,
            CycleDay2:_CycleDay2,
            CycleDay3: _CycleDay3,
            IsTime: _IsTime,
            TimeDateFrom: _TimeDateFrom,
            TimeDateTo: _TimeDateTo,
            DataC1:$('#DataC1').val(),
            DataC2: $('#DataC2').val(),
            DataC3: $('#DataC3').val(),
            DataC4: $('#DataC4').val(),
            DataC5: $('#DataC5').val(),
            DataC6: $('#DataC6').val(),
            DataC7: $('#DataC7').val(),
            DataC8: $('#DataC8').val(),
            DataC9: $('#DataC9').val(),
            DataC10: $('#DataC10').val(),
            DataC11: $('#DataC11').val(),
            DataC12: $('#DataC12').val(),
            DataC13: $('#DataC13').val(),
            DataC14: $('#DataC14').val(),
            DataC15: $('#DataC15').val(),
            DataC16: $('#DataC16').val(),

        };
    }
    

    $("#Save").click(function () {
          //var params = $('form').serialize();
        var params = getParamData();
        
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + "api/Sys_EvaConfig/",
             data: params,
            dataType: 'json',
            success: function (returnValue) {
                debugger;
                if (returnValue == "") {
                    ShowNotificationProcessor("Thao Tác Thành Công");
                }
                else if (returnValue !="") {
                    ShowNotificationProcessor(returnValue);
                    return;
                }
                else  {
                    var url = '@_hrm_Sys_Service' + returnValue;
                    window.location = url;
                }
            }
        });

    });
</script>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                </h3>
            </div>
            <div class="commandToolBarWidge">
                <div class="options">
                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "Save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
            @Html.Partial("EvaTabView", Model)
        </div>
    </div>
</form>
