@model HRM.Presentation.Hr.Models.Hre_DisciplineModel
@using HRM.Infrastructure.Utilities;

@{
    //ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_EmployeeType.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<div class="section-header">
    <div class="title">
       Thông tin kỷ luật
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Hr.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Hre_DisciplineModel.FieldNames.DecisionNo,
            Hre_DisciplineModel.FieldNames.DateOfEffective, 
            Hre_DisciplineModel.FieldNames.DateEndOfViolation,
            Hre_DisciplineModel.FieldNames.ViolationRule, 
            Hre_DisciplineModel.FieldNames.ViolationExplain,
            Hre_DisciplineModel.FieldNames.DescriptionOfViolation,  
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
           
            {Hre_DisciplineModel.FieldNames.DescriptionOfViolation, 150},
            {Hre_DisciplineModel.FieldNames.DecisionNo, 80},
            {Hre_DisciplineModel.FieldNames.ViolationRule, 100},
            {Hre_DisciplineModel.FieldNames.ViolationExplain, 150},
            {Hre_DisciplineModel.FieldNames.DateOfEffective, 100},
            {Hre_DisciplineModel.FieldNames.DateEndOfViolation, 100},

        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            
            {Hre_DisciplineModel.FieldNames.DescriptionOfViolation, ConstantDisplay.HRM_HR_Discipline_DescriptionOfViolation},
            {Hre_DisciplineModel.FieldNames.DecisionNo, ConstantDisplay.HRM_HR_Discipline_DecisionNo},
            {Hre_DisciplineModel.FieldNames.ViolationRule, ConstantDisplay.HRM_HR_Discipline_ViolationRule},
            {Hre_DisciplineModel.FieldNames.ViolationExplain, ConstantDisplay.HRM_HR_Discipline_ViolationExplain},
            {Hre_DisciplineModel.FieldNames.DateOfEffective, ConstantDisplay.HRM_HR_Discipline_DateOfEffective},
            {Hre_DisciplineModel.FieldNames.DateEndOfViolation, ConstantDisplay.HRM_HR_Discipline_DateEndOfViolation},
        };

        var grid = new GridBuilderInfo
        {
            Name = "DisciplineProfile",
            ValueFields = valueFields,
            ReadActionUrl = "GetByProfileIdGrid",
            Controller ="Hre_Discipline",
            ReadParameter = new { id = 1 },
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_DisciplineModel>(grid))
</div>



