@using HRM.Infrastructure.Utilities
@{
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
}
@using HRM.Presentation.UI.Controls.Kendo

<div class="hrm_dropdownlist">


    <div class="hrm_treeview">
        @(Html.TextBox("searchOrg", null, new
            {
                @class = "k-textbox",
                placeholder = "Search....",
                onkeyup = "GetSearchName(value);",
                style = "border-color:transparent;border-radius:0px;border-bottom: 1px dotted #C1D16E;width:300px;"
            }))
        @{

            var orgTreeView = new TreeViewBuilderInfo
            {

                Name = "treeviewOrg",
                DataTextField = "Name",
                Url = @_hrm_Cat_Service + "Cat_GetData/GetOrgStructureTree",
                Icon = "IconPath"

            };

        }
        @(Html.VnrTreeView(orgTreeView)
    .LoadOnDemand(false)
        )

    </div>
</div>
<script>
    function GetSearchName(value) {

        if (value !== "") {
            $("#treeviewOrg").data("kendoTreeView").expand(".k-item");
            $("#treeviewOrg .k-group .k-group .k-in").closest("li").hide();
            $("#treeviewOrg .k-group .k-group .k-in:contains(" + value + ")").each(function () {

                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        } else {
            $("#treeviewOrg .k-group").find("ul").hide();
            $("#treeviewOrg .k-group").find("li").show();
            $("#treeviewOrg").data("kendoTreeView").collapse('.k-item');
        }
    }

</script>
