@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Recruitment.Models;
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo
@{
    Layout = null;
}
<div class="commandToolBarWidge" id="anchor">
    <div class="GridTitle">
        @Html.VnrLabel(ConstantDisplay.HRM_Import_CorrectData.TranslateString())
    </div>
    </div>
<div>
    <!--Khai báo các thông tin cho Grid-->

    @{
        string[] valueFields = new string[]
        {
            Rec_CandidateModel.FieldNames.CodeCandidate,
            Rec_CandidateModel.FieldNames.CandidateName,
            Rec_CandidateModel.FieldNames.Status,
            Rec_CandidateModel.FieldNames.HealthStatus,
            Rec_CandidateModel.FieldNames.Gender,
            Rec_CandidateModel.FieldNames.DateOfBirth,
            Rec_CandidateModel.FieldNames.Mobile,
            Rec_CandidateModel.FieldNames.Phone,
            Rec_CandidateModel.FieldNames.Email,
            
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Rec_CandidateModel.FieldNames.CodeCandidate,95},
            {Rec_CandidateModel.FieldNames.CandidateName,140},
            {Rec_CandidateModel.FieldNames.Status,120},
            {Rec_CandidateModel.FieldNames.HealthStatus,140},
            {Rec_CandidateModel.FieldNames.Gender,80},
            {Rec_CandidateModel.FieldNames.DateOfBirth,95},
            {Rec_CandidateModel.FieldNames.Mobile,120},
            {Rec_CandidateModel.FieldNames.Phone,120},
            {Rec_CandidateModel.FieldNames.Email,140},
            
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Rec_CandidateModel.FieldNames.CodeCandidate, ConstantDisplay.HRM_Rec_Candidate_CodeCandidate},
            {Rec_CandidateModel.FieldNames.CandidateName, ConstantDisplay.HRM_Rec_Candidate_CandidateName},
            {Rec_CandidateModel.FieldNames.HealthStatus, ConstantDisplay.HRM_Rec_Candidate_HealthStatus},
            {Rec_CandidateModel.FieldNames.DateOfBirth,  ConstantDisplay.HRM_HR_Profile_DayOfBirth},
            {Rec_CandidateModel.FieldNames.Status, ConstantDisplay.HRM_Rec_Candidate_Status},
            {Rec_CandidateModel.FieldNames.Gender, ConstantDisplay.HRM_HR_Profile_Gender},
            {Rec_CandidateModel.FieldNames.Mobile, ConstantDisplay.HRM_HR_Profile_CellPhone},
            {Rec_CandidateModel.FieldNames.Phone, ConstantDisplay.HRM_HR_Profile_HomePhone},
            {Rec_CandidateModel.FieldNames.Email, ConstantDisplay.HRM_HR_Profile_Email},
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridCatImport",
            ValueFields = valueFields,
            ShowCheckAll = false,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            //ReadActionUrl = @_hrm_Hre_Service + "Cat_GetData/GetCatImport/",
            ShowCommand = false,
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Rec_CandidateModel>(grid))
</div>


