@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models

@{
    Layout = null;
    var _hrm_Att_Web = ConstantPathWeb.Hrm_Att_Web;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sal_Service = ConstantPathWeb.Hrm_Sal_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

}
<script type="text/javascript">
    var isCreateTemplate = false;
    var isCreateTemplateForDynamicGrid = false;

    function GeneralQuery() {

        ShowHre_ProgressBar();

        isCreateTemplate = false;
        isCreateTemplateForDynamicGrid = false;
        $.ajax({
            url: "@_hrm_Sys_Service" + "Sys_GetData/CreateQuery",
            data: { MasterID: $("#IDMaster").val() },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                debugger;
                var grid = VnrGridDynamic;
                grid.GridName = "grid_CustomReport";
                grid.DataSource = data.Data;
                VnrGridDynamicControl(grid);

                CloseHre_ProgressBar();
            },
            error: function () {
                alert('@Html.Raw(ConstantDisplay.MessageError.TranslateString())');
                CloseHre_ProgressBar();
            }
        });
    };
</script>

<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "GeneralQuery", Name = "Create-Query", Content = "Xem Dữ Liệu", ImageUrl = ConstantPath.IconSavePath })
    </div>


    <div class="clear"></div>
</div>

<div id="grid_CustomReport">

</div>
