@{
    ViewBag.Title = "Help";
}




<body>
    <div style="color:Blue; font-weight:bold ; font-size:x-large" align="center">
        FORMULA DEFINITION
    </div><br />
    <div align="left" style="color:Black; font-size:large">
        * Tạo công thức nhận phụ cấp dựa theo các tiêu chí chấm công
    </div><br />
    <div style="float:left"></div>
    <div align="left" style="color:Black; font-size:large;float:left;">
        Vd:
    </div>
    <div align="left" style="color:Blue; font-size:larger;float:left; padding-left:10px">
        [LEVEL] * [REALDAY_COUNT]/ [STDDAY]
    </div>
    <br /><br />
    <div align="left" style="color:Black; font-size:large;">
        * Hằng số:
    </div>
    <div align="left">
        <table width="100%" style="border-style:solid;border-color:Black; border-width:1px;">
            <tr style="height:30px">
                <td style="width:30%; background-color:#E5E5E5;color:Blue; font-size:large;font-weight:bold;
                     border-color:Black" align="center">
                    Tên
                </td>
                <td style="width:70%; background-color:#E5E5E5;color:Blue; font-size:large;font-weight:bold;
                     border-color:Black" align="center">
                    Ý Nghĩa
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;LEVEL
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tiền phụ cấp theo Level của nhân viên
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;REALDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày đi làm thực tế (không tính ngày nghỉ)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;STDDAY
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày công chuẩn trong tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;TOTAL
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tổng cộng
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;CURRENTMONTH
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tháng hiện tại
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;MONTHSTART
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tháng bắt đầu
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;MONTHEND
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tháng kết thúc
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIORITY_MONTHS
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tháng thâm niên
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;ANNUALLEAVE_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày nghỉ phép năm
                </td>
            </tr>
            <!--<tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;ANNUALLEAVE_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày nghỉ phép năm
                </td>
            </tr>-->
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;UNPAIDLEAVE_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày nghỉ không lương
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;WORKINGPAIDDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày đi làm có lương
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;PAIDLEAVE_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày nghỉ có lương
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;NIGHTDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày làm ca đêm
                </td>
            </tr>
            <!--<tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;LATE_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày đi trễ
                </td>
            </tr>
                  <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;EARLY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày về sớm
                </td>
            </tr>-->
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;LATE_EARLY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày đi trễ hoặc về sớm
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;LEAVEDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày không quẹt thẻ
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;NEWCOME
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Vào làm (ngày tuyển) trong tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;TERMINATION
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Nghỉ việc (ngày nghỉ) trong tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;PROBATION
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Đang thử việc (Thời gian thử việc trong tháng tính phụ cấp)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INS_TERMINATION
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp; Nghỉ việc trước ngày 15 của tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INS_PROBATION
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp; Ngày kết thúc thử việc sau ngày 15 của tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;FGL_EARLY_OVERTIME_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số lần tăng ca đầu giờ, và số giờ được duyệt hoặc xác nhận >= 1.5 giờ
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;WEEKDAY_WORK_LATE_AFTER_19h30_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày thường làm việc sau 19h30
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;FGL_DILIGENT_LEAVEDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày nghỉ full-shift bị tính trong trường hợp tính pc chuyên cần (Việc riêng-PSN; Không phép: ABS; Con ốm: BBS; Nghỉ ốm: SICK; Nghỉ hậu sản: PRG)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;FGL_SUNDAY_HOLIDAY_WORK_GREATER_4HOURS_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày OT chủ nhật & ngày lễ (Số giờ được duyệt hoặc xác nhận >= 4h/ngày)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;FGL_SUNDAY_HOLIDAY_WORK_HOURS
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số giờ đi làm ngày chủ nhật & ngày lễ
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;TAISUN_PAIDWORKDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày được hưởng lương (tổng ngày đi làm hưởng lương và ngày nghỉ hưởng lương)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;OT_SUNDAY_HOLIDAY_GREATER_8H
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp; Số lần tăng ca ngày lễ / chủ nhật (số giờ được duyệt hoặc xác nhận >= 8h/ngày)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;OT_SATURDAY_GREATER_8H
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính số lần OT (vào T7) với số giờ được duyệt hoặc xác nhận >= 8h/lần
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;OT_UPPER_4H
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số lần OT với số giờ được duyệt hoặc xác nhận >= 4h/lần
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;OT_UPPER_8H
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số lần OT với số giờ được duyệt hoặc xác nhận >= 8h/lần
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;WEEKLY_ATTENDANCE_ALLOWANCE
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính số tuần đc tính phụ cấp chuyên cần
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIORITY_MONTHS
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số tháng được tính thâm niên
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIORITY_YEAR_FUJIKURA
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính năm thâm niên từ ngày 01/01 hàng năm
                </td>
            </tr>
            <!--<tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIORITY_YEAR
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày có In/Out
                </td>
            </tr>-->
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INOUTDAY_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày có In/Out
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INOUTDAY_GREATER_4HOURS_EXCLUDE_HOLIDAYANDWEEKEND_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày có số giờ In/Out >= 4h/ngày (loại trừ ngày lễ & cuối tuần)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INOUTDAY_UPPER_8HOURS_EXCLUDE_HOLIDAYANDWEEKEND_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày có số giờ In/Out >= 8h/ngày (loại trừ ngày lễ & cuối tuần)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;INOUTDAY_UPPER_8HOURS_AND_SENIORITY_UPPER_2YEARS_EXCLUDE_HOLIDAYANDWEEKEND_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày có số giờ In/Out >= 8h/ngày, và số năm thâm niên >= 2 năm (loại trừ ngày lễ & cuối tuần)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;NEW_BORN_CHILD_COUNT
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số con nhỏ có hiệu lực trong tháng tính phụ cấp
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;AMOUNT_INSURANCE
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số tiền đóng BHXH
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SHIFT_COUNT_
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tổng số ngày làm ca có mã ca làm việc phía sau dấu "_" (Vd: SHIFT_COUNT_24H, với "24H" và mã ca làm việc 24h/ngày)
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;LEAVEDAY_COUNT_
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tổng số ngày nghỉ có mã loại ngày nghỉ phía sau dấu "_" (Vd: LEAVEDAY_COUNT_ABS, với "ABS" và mã loại nghỉ không phép)
                </td>
            </tr>
            <!--<tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;UNPAID_LEAVEDAY_PREVMONTH
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính Phụ cấp trừ cho tháng này từ Ngày nghỉ không lương của tháng trước
                </td>
            </tr>-->
            <!-- <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;PAID_OT_PREVMONTH
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính Phụ cấp cộng cho tháng này từ OT và nghỉ hưởng lương của tháng trước
                </td>
            </tr>-->
            <!--<tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SUBTRACT_ALLOWANCE_QUIT_EMPLOYEE_CPG
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tính lương thời gian từ ngày nghỉ đến cuối tháng để trừ lại Tổng lương - Áp dụng cho CPG
                </td>
            </tr>-->
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;HOURLY_RATE
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Hệ số lương giờ
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;DAYS_IN_MONTH_EXCLUDE_SUNDAY
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tổng ngày trong tháng trừ ngày Chủ nhật
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;DAYS_IN_MONTH_EXCLUDE_SUNDAY_HOLIDAY
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Tổng ngày trong tháng trừ ngày Chủ nhật và ngày nghỉ
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;WORKDAY_AVERAGE_PER_MONTH
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Ngày công chuyển tính theo quy tắt: (Tổng ngày trong năm - Ngày CN - Ngày thứ 7 nghỉ)/12
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIOR_BONUS_LEAVE
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày được hưởng thâm niên
                </td>
            </tr>
            <tr style="height:100px">
                <td style="width:30%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                font-weight:bold; color:Black">
                    &nbsp;SENIOR_BONUS_LEAVE_FROM_ddMMyyyy
                </td>
                <td style="width:70%; border-color:Black; border-style:solid;border-width:1px; font-size:large;
                     color:Black">
                    &nbsp;Số ngày được hưởng thâm niên (định nghĩa năm áp dụng tính thâm niên) Vd: SENIOR_BONUS_LEAVE_FROM_01012009
                </td>
            </tr>
        </table>
    </div>
</body>


