/*.insert-catbank {
    width:900px!important;
}*/
.insert-catbank table {
    background-color:#fff;
    border-collapse:collapse;
}
.insert-catbank table tr th {
    background: #F7F7F7 url(../Content/images/catbank/testsidebar.jpg) repeat-y;
    border-bottom: 1px solid #DDDDDD!important;
    border-left: 1px solid #DDDDDD!important;
    border-right: 1px solid #DDDDDD!important;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight:normal;
}
.insert-catbank table tr td {
    width:50%;
    border-bottom: 1px solid #DDDDDD!important;
}


.insert-catcountry table {
    background-color:#fff;
    border-collapse:collapse;
}
.insert-catcountry table tr th {
    background: #F7F7F7 url(../Content/images/catbank/testsidebar.jpg) repeat-y;
    border-bottom: 1px solid #DDDDDD!important;
    border-left: 1px solid #DDDDDD!important;
    border-right: 1px solid #DDDDDD!important;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight:normal;
}
.insert-catcountry table tr td {
    width:50%;
    border-bottom: 1px solid #DDDDDD!important;
}

