@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models;

@model Hre_ProfileModel          
@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}


<script>
    var checkedNodes = [];
    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        document.getElementById("OrgStructureID").setAttribute("value", checkedNodes[0]);
        checkedNodes = [];
    }
    var data = SetCharacteFieldRequired();
    function doEditProfile() {
        
        var result = false;
        //if (CheckValidate(data)) {
            
            var _ReceiveHealthIns = document.getElementById("ReceiveHealthIns");
            var _IsBlackList = document.getElementById("IsBlackList");
            if (_ReceiveHealthIns != null && _ReceiveHealthIns.checked) {
                $("#ReceiveHealthIns").val("true");
            } else {
                $("#ReceiveHealthIns").val("false");
            }
            if (_IsBlackList != null && _IsBlackList.checked) {
                $("#IsBlackList").val("true");
            } else {
                $("#IsBlackList").val("false");
            }
            if (ReceiveSocialIns != null && ReceiveSocialIns.checked) {
                $("#ReceiveSocialIns").val("true");
            } else {
                $("#ReceiveSocialIns").val("false");
            }

            @*var t = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateOfEffect").val());
            $("#DateOfEffect").val(t);
            alert(t);*@
            var dataReturn = onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification");
            if (dataReturn.ActionStatus == "Change") {
                HreProfileChange();
            }
            else {
                if (dataReturn != null) {
                    result = true;
                }
            }
        //}
        return result;
    };


    function HreProfileChange() {

        $.when(kendo.ui.ExtOkCancelDialog.show({
            title: "Xác nhận",
            message: "Bạn Có Muốn Cập Nhật Thay Đổi Vào 'Quá Trình Công Tác'?",
            icon: "k-ext-warning"
        })
        ).done(function (response) {
            if (response.button == "OK") {
                $("#ActionStatus").val(1);
                onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification");
            }
        });
    }
    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Hre_Web/Hre_Profile/Create/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
        }
    }
  
</script>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <a class="link-back" onclick="clickBack()" style="padding-left: 3px">(@ConstantDisplay.HRM_HR_Back_To_ProfileProbation_List.TranslateString())</a>
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabHre_Profile", Model)
                @*@Html.Partial()*@
            </div>
        </div>
    </div>
</form>
