
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    ViewBag.Title = "Chỉnh Sửa Yêu Cầu Tăng Ca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Att_OvertimeModel
<div>
    <script>
        $(document).ready(function () {
            $("#toolbarEditOvertime").kendoToolBar({
                items: [
                    { type: "button", id: "btnSaveOvertime", text: "Lưu", imageUrl: '@ConstantPath.IconSavePath' },
                    { type: "button", id: "btnSaveNewOvertime", text: "Lưu và tạo mới", imageUrl: '@ConstantPath.IconSavePath' },
                ],
                click: function (e) {
                    debugger;
                    var userId = $("#UserLoginId").val();
                    var userApprove1 = $("#UserApproveID").val();
                    var userApprove2 = $("#UserApproveID2").val();
                    if (userId == userApprove1 || userId == userApprove2) {
                        ShowNotificationProcessor("Người duyệt phải khác người đăng ký.");
                    }
                    else {
                        var id = e.id;
                        switch (id) {
                            case "btnSaveOvertime":
                                $.ajax({
                                    type: 'POST',
                                    url: "/Att_Overtime/Edit/",
                                    data: $("#form-update-create").serialize(),
                                    success: function (data) {
                                        var dataSplit = data.split(',');
                                        if (dataSplit.length > 1) {
                                            ShowNotificationProcessor(dataSplit[1]);
                                        }
                                        else {
                                            $("#ID").val(dataSplit[0]);
                                            ShowNotificationProcessor("Thao tác thành công");
                                        }
                                    },
                                    error: function (data) {
                                        window.ShowNotificationProcessor(data.responseText);
                                    }
                                });
                                break;
                            case "btnSaveNewOvertime":
                                $.ajax({
                                    type: 'POST',
                                    url: "/Att_Overtime/Edit/",
                                    data: $("#form-update-create").serialize(),
                                    success: function (data) {
                                        var dataSplit = data.split(',');
                                        if (dataSplit.length > 1) {
                                            ShowNotificationProcessor(dataSplit[1]);
                                        }
                                        else {
                                            $("#ID").val(dataSplit[0]);
                                            ShowNotificationProcessor("Thao tác thành công");
                                        }
                                        location.href = "/Att_Overtime/Submit/";
                                    },
                                    error: function (data) {
                                        window.ShowNotificationProcessor(data.responseText);
                                    }
                                });
                                break;
                        }
                    }
                }
            });
        });
    </script>
</div>
<form action="#" method="POST" id="form-update-create">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb hidden-xs" style="margin-bottom:auto">
                <li><a href="/Portal/Home">Trang Chủ</a></li>
                <li><a href="#">Phê Duyệt</a></li>
                <li><a href="/Att_Overtime/Approve">Tăng Ca</a></li>
                <li class="active">Chỉnh Sửa Tăng Ca</li>
            </ul>
        </div>
    </div>

    <div class="form-tile">@*Chỉnh Sửa Tăng Ca (@Html.ActionLink("Danh sách", "Approve"))*@</div>
    <div class="form-create-update">
        <div id="toolbarEditOvertime"></div>
        <div class="form-content">
            @Html.Partial("_OvertimeForm", Model)
        </div>
    </div>
</form>
