<div id="ribbon">
    <div class="ribbon-section">
        <ul class="vtip" id="menuBottom"></ul>

        @*<ul class="vtip" >
                <li sa="Why">
                    <a>Why why why</a>
                </li>
                <li sa="1111111111111111">
                    <a>111111111111</a>
                </li>
                <li sa="2222222222222222">
                    <a>2222222222222</a>
                </li>
            </ul>*@

        @*@(Html.Kendo().Tooltip()
            .For("#menuBottom")
            .Filter("a")
            .ContentTemplateId("template")
            .Position(TooltipPosition.Bottom)
            )*@
    </div>
</div>

<script type="text/javascript">



    VnrString.isNullOrEmpty = function (value) {
        try {
            value = value.toString();
        } catch (e) {
            return true;
        }
        return (!value || value == undefined || value == "" || value.length == 0);
    }


    $(document).ready(function () {
        $("#admin-menu li .k-link").click(function () {
            
            var menuName = $(".k-image").attr("parent").trim();
            //var x = menuName.split("_");
            //var menuName = x[0] + "_" + x[1];
            //alert("setcookies " + menuName);
            eraseCookie("sub");
            setCookie("sub", menuName, 1);
        })
    }

    )


    function FindRootMenu(menuName, data) {
        
        for (var i = 0; i < data.RootNode.ChildNodes.length; i++) {
            if (data.RootNode.ChildNodes[i].HrmWebSite != menuName) {
                if (data.RootNode.ChildNodes[i].ChildNodes.length > 0)
                    for (var j = 0; j < data.RootNode.ChildNodes[i].ChildNodes.length; j++) {
                        if (data.RootNode.ChildNodes[i].ChildNodes[j].HrmWebSite == menuName) {
                            menuName = data.RootNode.ChildNodes[i].HrmWebSite;
                        }
                        else {
                            if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes.length > 0) {
                                for (var k = 0; k < data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes.length; k++) {
                                    if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].HrmWebSite == menuName) {
                                        menuName = data.RootNode.ChildNodes[i].HrmWebSite;
                                    }
                                    else {
                                        if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes.length > 0) {
                                            for (var h = 0; h < data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].length; h++) {
                                                if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].HrmWebSite == menuName) {
                                                    menuName = data.RootNode.ChildNodes[i].HrmWebSite;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
            }
        }
        return menuName;
    }
    function ShowMenuChild(strHTML, menuName, data) {
        
        for (var i = 0; i < data.RootNode.ChildNodes.length; i++) {
            if (data.RootNode.ChildNodes[i].HrmWebSite == menuName) {
                for (var j = 0; j < data.RootNode.ChildNodes[i].ChildNodes.length; j++) {
                    var url = null;
                    if (!VnrString.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ControllerName)
                        && !VnrString.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ControllerName)) {
                        url = "/" + data.RootNode.ChildNodes[i].ChildNodes[j].ControllerName + "/"
                            + data.RootNode.ChildNodes[i].ChildNodes[j].ActionName;
                        //+ "?" + data.RootNode.ChildNodes[i].ChildNodes[j].RouteValues[0].Key + "="
                        //+ data.RootNode.ChildNodes[i].ChildNodes[j].RouteValues[0].Value;
                    }
                    else if (!VnrString.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].Url)) {
                        url = data.RootNode.ChildNodes[i].ChildNodes[j].Url;
                    }
                    var _countChild = data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes.length;
                    var _titleMenu = data.RootNode.ChildNodes[i].ChildNodes[j].HrmWebSite.toString().split("_")[0];
                    var _titleMenu1 = data.RootNode.ChildNodes[i].ChildNodes[j].HrmWebSite.toString().split("_")[2];
                    if (_countChild > 0) {
                        _titleMenu = _titleMenu + "...";
                    }

                    var imageUrl = data.RootNode.ChildNodes[i].ChildNodes[j].ImageUrl;
                    var _urlIcon = "Content/images/icons/submenu/normal/EmployeesJoining2.png";
                    if (!VnrString.isNullOrEmpty(imageUrl)) {
                        _urlIcon = imageUrl;
                    }
                    strHTML += "<li sa='123'>";
                    strHTML += "<div>";
                    strHTML += "<a href='" + url + "'>";
                    strHTML += "<div class='ribbon-button ribbon-button-large' id='add-table-btn" + j + "'>";
                    strHTML += "<img class='ribbon-icon ribbon-normal' src='" + _urlIcon + "' runat='server' />";
                    strHTML += "<img class='ribbon-icon ribbon-hot' src='" + _urlIcon + "' runat='server' />";
                    strHTML += "<span class='button-title'>" + _titleMenu1 + "</span>";
                    strHTML += "<span class='button-help'>This button will add a table to your document.</span>";
                    strHTML += "</div>";


                    // SubMenu con tầng 2
                    //if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes.length > 0) {
                    //    haveChildChild = true;
                    //    strHTML += "<ul>";
                    //    for (var k = 0; k < data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes.length; k++) {
                    //        var urlChild = null;
                    //        if (!String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ControllerName)
                    //            && !String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ControllerName)) {
                    //            urlChild = "/"
                    //                + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ControllerName + "/"
                    //                + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ActionName ;
                    //            + "?" +data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].RouteValues[0].Key + "="
                    //            + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].RouteValues[0].Value;
                    //        }
                    //        else if (!String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].Url)) {
                    //            urlChild = data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].Url;
                    //        }
                    //        strHTML += "<li>";
                    //        var imageUrlChild = data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ImageUrl;
                    //        if (!String.isNullOrEmpty(urlChild)) {
                    //            strHTML += "<a href='" + urlChild + "'>";
                    //            if (!String.isNullOrEmpty(imageUrlChild)) {
                    //                strHTML += "<img alt='' src='../" + imageUrlChild + "' />";
                    //            }
                    //            strHTML += data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].Title.toString() + "</a>";

                    //        }
                    //        else {

                    //            if (!String.isNullOrEmpty(imageUrlChild)) {
                    //                strHTML += "<img alt='' src='" + imageUrlChild + "' />";
                    //            }
                    //            strHTML += data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].Title.toString();
                    //        }
                    //        if (data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes.length > 0) {
                    //            strHTML += "<ul>";
                    //            for (var h = 0; h < data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes.length; h++) {

                    //                var urlChildChild = null;
                    //                if (!String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].ControllerName)
                    //                    && !String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].ControllerName)) {
                    //                    urlChildChild = "/"
                    //                        + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].ControllerName + "/"
                    //                        + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].ActionName ;
                    //                    + "?" + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].RouteValues[0].Key + "="
                    //                    + data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].RouteValues[0].Value;
                    //                }
                    //                else if (!String.isNullOrEmpty(data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].Url)) {
                    //                    urlChildChild = data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].Url;
                    //                }
                    //                strHTML += "<li>";
                    //                var imageUrlChildChild = data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].ImageUrl;
                    //                if (!String.isNullOrEmpty(urlChildChild)) {
                    //                    strHTML += "<a href='" + urlChildChild + "' >";
                    //                    if (!String.isNullOrEmpty(imageUrlChildChild)) {
                    //                        strHTML += "<img alt='' src='" + imageUrlChildChild + "' width='16' height='16'/>";
                    //                    }
                    //                    strHTML += data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].Title.toString() + "</a>";
                    //                }
                    //                else {

                    //                    if (!String.isNullOrEmpty(imageUrlChildChild)) {
                    //                        strHTML += "<img alt='' src='" + imageUrlChildChild + "'  width='16' height='16'/>";
                    //                    }
                    //                    strHTML += data.RootNode.ChildNodes[i].ChildNodes[j].ChildNodes[k].ChildNodes[h].Title.toString();
                    //                }
                    //                strHTML += "</li>";
                    //            }
                    //            strHTML += "</ul>";
                    //        }
                    //        strHTML += "</li>";
                    //    }
                    //    strHTML += "</ul>";
                    //}
                    strHTML += "</a>";
                    strHTML += "</div>";
                    strHTML += "</li>";
                }
            }

        }
        return strHTML;

    }

</script>



