@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using VnResource.Helper.Data;

@using HRM.Infrastructure.Security;
@model Att_TAMScanLogModel
@{
    Layout = null;
    ViewBag.Title = ConstantDisplay.HRM_Attendance_WorkDay.TranslateString();
    string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script type="text/javascript">
    //$("#tabselect").val("reloadWDV");
    
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        resizeControl('gridTab_WorkDayView', 200);

        $("#btnSearchWorkDay").click(function () {
            var grid = $('#gridTab_WorkDayView').data("kendoGrid");
            grid.dataSource.read();
        });

    });

    $("#btnExportWorkDay").click(function () {
        var grid = $('#gridTab_WorkDayView').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Att_GetData/GetWorkDayByProIDandCutOID/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo_Reload(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_Workday');
    });

</script>
<div class="clear"></div>

<div style="margin-top:3px">
    <!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Attendance_WorkDay.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportWorkDay", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        <div class="clear"></div>
    </div>
    <div style="overflow:hidden">
        @{
            valueFields = new string[]
        {
            Att_WorkdayModel.FieldNames.WorkDate,
            Att_WorkdayModel.FieldNames.FirstInTime,
            Att_WorkdayModel.FieldNames.LastOutTime,
            Att_WorkdayModel.FieldNames.ShiftName,
            //Att_WorkdayModel.FieldNames.WorkDuration,
            Att_WorkdayModel.FieldNames.LateDuration1,
            Att_WorkdayModel.FieldNames.EarlyDuration1,
            Att_WorkdayModel.FieldNames.LateEarlyDuration
        };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate,90},
            {Att_WorkdayModel.FieldNames.FirstInTime,80},
            {Att_WorkdayModel.FieldNames.LastOutTime,80},
            {Att_WorkdayModel.FieldNames.ShiftName,90},
            //{Att_WorkdayModel.FieldNames.WorkDuration,90},
            {Att_WorkdayModel.FieldNames.LateDuration1,115},
            {Att_WorkdayModel.FieldNames.EarlyDuration1,105},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration,110}
        };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_WorkDay_WorkDate},
            {Att_WorkdayModel.FieldNames.FirstInTime,ConstantDisplay.HRM_Attendance_WorkDay_FirstInTime},
            {Att_WorkdayModel.FieldNames.LastOutTime,ConstantDisplay.HRM_Attendance_WorkDay_LastOutTime},
            {Att_WorkdayModel.FieldNames.ShiftName,ConstantDisplay.HRM_Attendance_WorkDay_ShiftID},
            //{Att_WorkdayModel.FieldNames.WorkDuration,ConstantDisplay.HRM_Attendance_WorkDay_WorkDuration},
            {Att_WorkdayModel.FieldNames.LateDuration1,ConstantDisplay.HRM_Attendance_WorkDay_LateDuration1},
            {Att_WorkdayModel.FieldNames.EarlyDuration1,ConstantDisplay.HRM_Attendance_WorkDay_EarlyDuration1},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration,ConstantDisplay.HRM_Attendance_WorkDay_LateEarlyDuration}
        };

            Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Att_WorkdayModel.FieldNames.WorkDate, ConstantFormat.HRM_Format_DayMonthYear},
            {Att_WorkdayModel.FieldNames.FirstInTime, ConstantFormat.HRM_Format_HourMinSecond},
            {Att_WorkdayModel.FieldNames.LastOutTime, ConstantFormat.HRM_Format_HourMinSecond},
            //{Att_WorkdayModel.FieldNames.WorkDuration, ConstantFormat.HRM_Format_Number_Double},
            {Att_WorkdayModel.FieldNames.LateDuration1, ConstantFormat.HRM_Format_Number_Double},
            {Att_WorkdayModel.FieldNames.EarlyDuration1, ConstantFormat.HRM_Format_Number_Double},
            {Att_WorkdayModel.FieldNames.LateEarlyDuration, ConstantFormat.HRM_Format_Number_Double},
        };

            var grid = new GridBuilderInfo
            {
                Name = "gridTab_WorkDayView",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                FormatFields = formatFields,
                ShowDeleteButton = true,
                DeleteActionUrl = _hrm_Main_Web + "/Att_WorkDay/Remove/",
                ReadActionUrl = _hrm_Hr_Service + "Att_GetData/GetWorkDayByProIDandCutOID",
                ReadData = "filterFieldInfo_Reload",
                AutoBind = true,
                ShowCheckbox = false,
                ShowEditIcon = false
            };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Att_WorkdayModel>(grid))

    </div>
</div>
@{
    var valueFields1 = ",ProfileName,CodeEmp";
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
<script>
    $(document).ready(function () {
        $("#valueFieldsGrid").val('@valueFields1');
    });
</script>