@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    IList<SelectListItem> PerformaceStatus = Enum.GetValues(typeof(PerformaceEvaStatus))
    .Cast<PerformaceEvaStatus>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();
}
@using HRM.Infrastructure.Security
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.Evaluation.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_ProfileModel
@{
    var profileID = Guid.Empty;
    var ProfileName = string.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
        ProfileName = Model.ProfileName;
    }
}
<script type="text/javascript">
    var selectedIds = [];
    var checkedNodes = [];

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //
        $("#btnSearch").click(function () {
            ReadGrid("gridPerformanceResultView");
        });
    });

    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            ProfileName: null,
            CodeEmp: null
        };
    }
    //Xử Lý grid
    GridCheckbox("gridPerformanceResultView");
</script>
<div style="padding-top:3px; width:99%">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
        </div>
        <div style="float:right">
        </div>
    </div>
    <div>
        <!--Khai báo các thông tin cho Grid-->
        @{
            var ForeignKey = new Dictionary<object, object[]>()
            {
                             {Eva_PerformanceModel.FieldNames.Status,new object[]
                   { "Value", "Text", PerformaceStatus, ConstantDisplay.HRM_Evaluation_Performance_Status,""}},
            };
            var valueFields = new[]
        {
           Eva_PerformanceModel.FieldNames.PerformanceTypeName,
           Eva_PerformanceModel.FieldNames.PerformancePlanName,
           Eva_PerformanceModel.FieldNames.PerformanceTemplateName,
           Eva_PerformanceModel.FieldNames.Status,
           Eva_PerformanceModel.FieldNames.TotalMark,
           Eva_PerformanceModel.FieldNames.LevelName,
           Eva_PerformanceModel.FieldNames.PerformanceTime,
        };

            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Eva_PerformanceModel.FieldNames.PerformanceTypeName, 150},
            {Eva_PerformanceModel.FieldNames.PerformancePlanName, 200},
            {Eva_PerformanceModel.FieldNames.PerformanceTemplateName, 150},
            {Eva_PerformanceModel.FieldNames.TotalMark,130},
            {Eva_PerformanceModel.FieldNames.LevelName,130},
            {Eva_PerformanceModel.FieldNames.PerformanceTime, 180},
            {Eva_PerformanceModel.FieldNames.Status,120},
        };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Eva_PerformanceModel.FieldNames.PerformanceTypeName, ConstantDisplay.HRM_Evaluation_Tag},
            {Eva_PerformanceModel.FieldNames.PerformancePlanName, ConstantDisplay.HRM_Evaluation_PerformancePlan_PerformancePlanName},
            {Eva_PerformanceModel.FieldNames.PerformanceTemplateName, ConstantDisplay.HRM_Evaluation_PerformanceTemplate},
            {Eva_PerformanceModel.FieldNames.Status, ConstantDisplay.HRM_Evaluation_Performance_Status},
            {Eva_PerformanceModel.FieldNames.TotalMark, ConstantDisplay.HRM_Evaluation_Performance_TotalMark},
            {Eva_PerformanceModel.FieldNames.LevelName, ConstantDisplay.HRM_Evaluation_Level},
            {Eva_PerformanceModel.FieldNames.PerformanceTime, ConstantDisplay.HRM_Evaluation_Performance_PerformanceTime},
        };

            var grid = new GridBuilderInfo
            {
                Name = "gridPerformanceResultView",
                ValueFields = valueFields,
                ForeignKey = ForeignKey,
                ReadActionUrl = _hrm_Hr_Service + "Eva_GetData/GetPerformanceResultByProfileID?profileID=" + profileID,
                SizeFields = sizeFields,
                AutoBind = true,
                GridHeight = 550,
                GridWidth = Common.ScreenWidth - 260,
                ShowCheckAll = false,
                DisplayFields = displayFields,
            };
        }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Eva_PerformanceModel>(grid))
    </div>
</div>
<script>
    $("#gridPerformanceResultView .k-grid-pager").css('display', 'none');
</script>
