@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@using HRM.Infrastructure.Security
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Hr.Models.Hre_ProfileModel
@{
    var profileID = Guid.Empty;
    var ProfileName = string.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
        ProfileName = Model.ProfileName;
    }
}
<script type="text/javascript">
    var selectedIds = [];
    var checkedNodes = [];

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //
        $("#btnSearch").click(function () {
            ReadGrid("gridAppendixContractView");
        });
    });

    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            ProfileName: null,
            CodeEmp: null
        };
    }
    //Xử Lý grid
    GridCheckbox("gridAppendixContractView");
</script>
<div style="padding-top:3px; width:100%">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_HR_Appendix_Contract.TranslateString())
        </div>
        <div style="float: right">
        </div>
        <div class="clear"></div>
    </div>
    <div style="overflow:hidden">
        <!--Khai báo các thông tin cho Grid-->
        @{
            var valueFields = new[]
        {
                Hre_AppendixContractModel.FieldNames.ContractNo,
                Hre_AppendixContractModel.FieldNames.Code,
                Hre_AppendixContractModel.FieldNames.AppendixContractTypeName,
                //Hre_AppendixContractModel.FieldNames.DateofEffect,
                Hre_AppendixContractModel.FieldNames.DateSignedAppendixContract,
                Hre_AppendixContractModel.FieldNames.DateStartAppendixContract,
                Hre_AppendixContractModel.FieldNames.DateEndAppendixContract,
        };

            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
                {Hre_AppendixContractModel.FieldNames.ContractNo,130},
                {Hre_AppendixContractModel.FieldNames.Code,130},
                {Hre_AppendixContractModel.FieldNames.AppendixContractTypeName,130},
                //{Hre_AppendixContractModel.FieldNames.DateofEffect,130},
                {Hre_AppendixContractModel.FieldNames.DateSignedAppendixContract,130},
                {Hre_AppendixContractModel.FieldNames.DateStartAppendixContract,130},
                {Hre_AppendixContractModel.FieldNames.DateEndAppendixContract,130},
        };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
                {Hre_AppendixContractModel.FieldNames.ContractNo,  ConstantDisplay.HRM_HR_Contract_ContractNo},
                {Hre_AppendixContractModel.FieldNames.Code,  ConstantDisplay.HRM_HR_AppendixContract_Code},
                {Hre_AppendixContractModel.FieldNames.AppendixContractTypeName,  ConstantDisplay.HRM_Category_AppendixContractType_Name},
                //{Hre_AppendixContractModel.FieldNames.DateofEffect,  ConstantDisplay.HRM_HR_AppendixContract_DateofEffect},
                {Hre_AppendixContractModel.FieldNames.DateSignedAppendixContract,  ConstantDisplay.HRM_HR_AppendixContract_DateSignedAppendixContract},
                {Hre_AppendixContractModel.FieldNames.DateStartAppendixContract,  ConstantDisplay.HRM_HR_AppendixContract_DateStartAppendixContract},
                {Hre_AppendixContractModel.FieldNames.DateEndAppendixContract,  ConstantDisplay.HRM_HR_AppendixContract_DateEndAppendixContract},
        };

            var grid = new GridBuilderInfo
            {
                Name = "gridAppendixContractView",
                ValueFields = valueFields,
                ReadActionUrl = _hrm_Hr_Service + "Hre_GetData/GetAppendixContractByProfileID?profileID=" + profileID,
                SizeFields = sizeFields,
                AutoBind = true,
                GridHeight = 550,
                GridWidth = Common.ScreenWidth - 260,
                ShowCheckAll = false,
                DisplayFields = displayFields,
                ShowEditButton = false,
                ShowEditIcon = false
            };
        }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Hre_AppendixContractModel>(grid))
    </div>
</div>
<script>
    $("#gridAppendixContractView .k-grid-pager").css('display', 'none');
</script>
