.Hrm_hr_general_table {
    width: 100%;
    vertical-align: top;
}

.Hrm_hr_general_top {
    height: 29px;
    vertical-align: top;
}

#DurationTypeDetail {
    width: 200px;
    margin: 5px 0;
    padding: 5px 60px 5px 5px;
    border: 1px solid #e2e4e7;
}

.Hrm_hr_general_left {
    width: 100px;
    vertical-align: top;
    border-bottom: 0px solid #e7e7e7;
}

.Hrm_hr_general_top_left {
    width: 100px;
    vertical-align: top;
    border-right: 0px solid #e7e7e7;
    border-bottom: 0px solid #e7e7e7;
}

.Hrm_hr_general_top_right {
    width: 100px;
    vertical-align: top;
    border-bottom: 0px solid #e7e7e7;
    border-left: 0px solid #e7e7e7;
}

.Hrm_hr_general_right {
    width: auto;
    vertical-align: top;
    border-top: 0px solid #e7e7e7;
}

.DivContentTitleValue {
    display: block;
    clear: both;
}

.hrm_treeview {
    border: 1px solid #c5c5c5;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 4px;
}

.hrm_box {
    width: 450px;
    float: left;
    display: block;
}

.hrm_box550 {
    width: 550px;
    float: left;
    display: block;
}

.k-treeview {
    overflow: hidden !important;
}

.FieldTitle {
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 130px;
    font-size: 12px;
    display: block;
    clear: both;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitle300 {
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 300px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitle200 {
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 200px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitle170 {
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 185px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitle150 {
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 170px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitleConfig200 {
    float: left;
    margin-left: 16px;
    margin-top: 4px;
    width: 200px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitleConfig300 {
    float: left;
    margin-left: 16px;
    margin-top: 4px;
    width: 300px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FieldTitleConfig400 {
    float: left;
    margin-left: 16px;
    margin-top: 4px;
    width: 400px;
    padding-top: 4px;
    font-size: 12px;
    display: block;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GridTitle {
    float: left;
    padding-top: 5px;
    color: #438eb9;
    font-weight: bold;
}

.FieldValue {
    float: left;
    margin-top: 1px;
    width: 320px;
    width: auto;
    font-size: 12px;
    color: #000000;
    display: block;
    padding-bottom: 1px;
}

.FieldValueConfig {
    float: left;
    margin-top: 4px;
    width: auto;
    font-size: 12px;
    color: #000000;
    display: block;
    padding-bottom: 1px;
}

.FieldValueView {
    background: white;
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    color: #2e2e2e;
    width: 200px;
    z-index: 0;
    float: left;
    vertical-align: middle;
    padding: 4px 5px;
    margin-bottom: 2px;
    min-height: 17px;
    word-wrap: break-word;
}

.FieldValueView60x15 {
    background: white;
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    color: #2e2e2e;
    width: 60px;
    height: 15px;
    z-index: 0;
    float: left;
    vertical-align: middle;
    padding: 4px 5px;
    margin-bottom: 2px;
    min-height: 12px;
}


.HrmFieldset {
    border-top: 1px dotted #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-left: 0px solid #ccc;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
}

.LineFooterCommandEdit {
    position: absolute;
    left: 0px;
    right: 0px;
    border-top: 1px solid #ccc;
    margin-top: 5px;
}


.DateEffect label {
    width: auto;
}

/* Box */
.Box_Top_Left {
    width: 12px;
    height: 4px;
    background-repeat: no-repeat;
}

.Box_Top_Right {
    width: 12px;
    height: 4px;
    background-repeat: no-repeat;
}

.Box_Top_Mid {
    background-repeat: repeat-x;
}

.Box_Bottom_Left {
    width: 12px;
    height: 28px;
    background-repeat: no-repeat;
}

.Box_Bottom_Right {
    width: 12px;
    height: 28px;
    background-repeat: no-repeat;
}

.Box_Bottom_Mid {
    background-repeat: repeat-x;
}

.Box_Mid_Left {
    width: 12px;
    background-repeat: repeat-y;
}

.Box_Mid_Right {
    width: 12px;
    background-repeat: repeat-y;
}

.VnR_Heading1 {
    font-size: 16px;
    font-weight: normal;
    font-family: Tahoma, Arial, Verdana;
    color: #003366;
    border-bottom: 1px dotted gray;
    padding-bottom: 5px;
    margin-left: 0px;
}

.VnR_Heading2 {
    font-size: 14px;
    font-weight: normal;
    font-family: Tahoma, Arial, Verdana;
    color: #003366;
}

.VnRMain {
    width: 100%;
    margin: 0px auto;
    padding-top: 0px;
}

.WebFont1 {
    margin: 0.2em 0 0.7em 0;
    font-family: 'yanonekaffeesatz-light', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
}

.WebFont1I {
    margin: 0.2em 0 0.7em 0;
    font-family: 'yanonekaffeesatz-light', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0, .9);
}

.news {
    font-family: Arial;
    font-weight: BOLD;
    font-size: 9pt;
    color: #EAE3D3;
}

.menus {
    font-family: Verdana, Arial;
    font-weight: BOLD;
    font-size: 9px;
    color: #EAE3D3;
}

.smalltext {
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial;
}

.form1 {
    font-family: Tahoma, Arial;
    font-size: 12px;
    font-weight: normal;
    color: #58647E;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    vertical-align: middle;
    height: 20px;
    width: 200px;
}

.form2 {
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: #58647E;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    vertical-align: middle;
}

.form3 {
    font-family: Tahoma, Arial, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #FFFFFF;
    border: 0px;
    vertical-align: middle;
}

.scrolltext {
    font-family: Tahoma;
    font-weight: BOLD;
    font-size: 9pt;
    color: #000000;
}

.scrolltext2 {
    font-family: Tahoma, Verdana;
    font-weight: BOLD;
    font-size: 8pt;
    color: #000000;
}

.form1_disabled {
    font-family: Tahoma, Arial, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #58647E;
    background-color: #ece9d8;
    border: 1px solid #999999;
    vertical-align: middle;
}






/*Ribbon*/

#ribbon {
    cursor: default;
    font-size: 8pt;
    background-color: #eaedf1;
    border-bottom: 0px solid #8b9097;
    -webkit-box-shadow: #8b9097 0px 1px 3px;
    -moz-box-shadow: #8b9097 0px 1px 3px;
    box-shadow: #8b9097 0px 1px 3px;
    behavior: url(/PIE.htc);
    z-index: 25;
    position: static;
    left: 0;
    right: 0;
}

    #ribbon .ribbon-backstage {
        display: none;
    }


    #ribbon.backstage .ribbon-backstage {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        background-color: #FFF;
    }

    #ribbon .section-title {
        color: #5B626C;
        text-align: center;
        clear: left;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #ribbon .ribbon-section {
        /*float: left;*/
        position: relative;
    }

    #ribbon .ribbon-section-sep {
    }

    #ribbon .ribbon-button {
        padding: 2px 3px;
        border: 1px solid transparent;
        -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
    }

    #ribbon .ribbon-button-large {
        text-align: center;
        min-width: 44px;
        float: left;
    }

    #ribbon .ribbon-button-small {
        padding: 3px 4px;
        text-align: left;
    }

    #ribbon .ribbon-button .button-help {
        display: none;
    }

    #ribbon .ribbon-button .button-title {
        color: #444;
    }

    #ribbon .ribbon-button-large .button-title {
        clear: left;
        display: block;
    }

    #ribbon .ribbon-button-large .ribbon-icon {
        margin: auto;
    }

    #ribbon .ribbon-button-small .ribbon-icon {
        width: 16px;
        height: 16px;
        float: left;
        clear: left;
        margin: -1px 5px 0px 1px;
    }

    #ribbon .ribbon-button .ribbon-icon.ribbon-hot, #ribbon .ribbon-button .ribbon-icon.ribbon-disabled {
        display: none;
    }

    #ribbon .ribbon-button-large .ribbon-icon.ribbon-normal {
        display: block;
    }

    #ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal {
        display: none;
    }

    #ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot {
        display: block;
    }

    #ribbon .ribbon-button-small .ribbon-icon.ribbon-normal {
        display: inline;
    }

    #ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot {
        display: inline;
    }

    #ribbon .ribbon-button:hover, #ribbon .ribbon-button.sel {
        border: 1px solid #F1C43F;
        background: #fdeeb3;
        cursor: pointer;
    }

    #ribbon .ribbon-button:active {
        border: 1px solid #F1C43F;
        background: #F1C43F;
        cursor: pointer;
    }

    #ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon {
        display: none;
    }

        #ribbon .ribbon-button.disabled .ribbon-icon.ribbon-disabled {
            display: block;
            opacity: 0.8;
        }

        #ribbon .ribbon-button.disabled .ribbon-icon.ribbon-implicit-disabled {
            opacity: 0.4;
        }

    #ribbon .ribbon-button.disabled:hover {
        border: 1px solid transparent;
        background: transparent;
        cursor: default;
    }

    #ribbon .ribbon-button.disabled:active {
        border: 1px solid transparent;
        background: transparent;
        cursor: default;
    }

    #ribbon .ribbon-button.disabled .button-title {
        color: #888;
    }

.ribbon-tooltip {
    font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    position: fixed;
    z-index: 5000;
    border: 1px solid #8b9097;
    background-color: #e5e5f0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
    background: -moz-linear-gradient(#ffffff, #e5e5f0);
    -pie-background: linear-gradient(#ffffff, #e5e5f0);
    padding: 5px;
    -webkit-box-shadow: #c6c9cd 1px 1px 3px;
    -moz-box-shadow: #c6c9cd 1px 1px 3px;
    box-shadow: #c6c9cd 1px 1px 3px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    width: 200px;
    top: 150px !important;
}

/*Form search*/
#main-content {
    margin: 0;
    vertical-align: top;
    padding-top: 0px;
}
/* WIDGETS */
.widget {
    padding: 0;
    background-color: #F8F8F8;
    border: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*padding-bottom:5px;*/
    margin-right: 2px;
    margin-left: 2px;
}

    .widget:hover {
        /*background-color: #1f97f7;*/
        /*border-color: #1f97f7;*/
    }


    .widget h3 {
        font-size: 13px;
        font-weight: bold;
        padding: 3px 4px;
        border-bottom: 1px solid #cccccc;
        color: #428bca;
        white-space: nowrap;
    }

.commandToolBarWidge {
    font-size: 12px;
    padding: 0px 2px 0px 2px;
    display: block;
    clear: both;
    background-color: #F1F1F1;
    border: 1px solid #D6D5D5;
    border-bottom: 0px solid #D6D5D5;
}

.contendSearchWidge {
    display: table;
    padding-bottom: 5px;
    overflow: visible;
    margin-top: 2px;
}

.widget h3 span {
    float: right;
}

    .widget h3 span:hover {
        cursor: pointer;
        background-color: #cccccc;
        border-radius: 20px;
    }

legend {
    width: 100%;
    padding: 0;
    line-height: inherit;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
    border-bottom: 1px solid #dfeaf6;
    color: #438eb9;
}

fieldset {
    border: 0px dotted #ccc;
    padding: 5px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100%;
    padding-bottom: 0 !important;
}

.profile-photo {
    width: 120px;
    height: 120px;
    margin: 0px auto;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
}

    .profile-photo img {
        min-width: 120px;
        min-height: 120px;
        max-height: 120px;
        max-width: 120px;
    }

.treeViewSearch {
    width: 200px;
    border-color: transparent;
    border-radius: 0px;
    border-bottom: 1px dotted #C1D16E;
}

.VnrBoxLeft {
    width: 600px;
    -moz-min-width: 400px;
    -ms-min-width: 400px;
    -o-min-width: 400px;
    -webkit-min-width: 400px;
    min-width: 400px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

.VnrBoxRight {
    width: 600px;
    -moz-min-width: 400px;
    -ms-min-width: 400px;
    -o-min-width: 400px;
    -webkit-min-width: 400px;
    min-width: 400px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.WebHRButton {
    font-family: Tahoma, Arial;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 3px 10px 5px;
    margin: .5em .5em .5em 0;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    text-decoration: none;
    color: white;
}

.WebHRButton {
    border-radius: 2px;
    box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
}

    .WebHRButton:active {
        box-shadow: inset rgba(0,0,0,0.4) 0px 0px 6px;
    }

.WebHRButtons_Blue {
    background: rgb(130,207,241);
    background: -moz-linear-gradient(top, rgba(130,207,241,1) 0%, rgba(56,174,234,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,207,241,1)), color-stop(100%,rgba(56,174,234,1)));
    background: -webkit-linear-gradient(top, rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
    background: -o-linear-gradient(top, rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
    background: linear-gradient(to bottom, rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82cff1', endColorstr='#38aeea',GradientType=0 );
    border: 1px solid #3cafcf;
    text-decoration: none;
    color: white;
}

    .WebHRButtons_Blue:hover {
        background: rgb(153,216,244);
        background: -moz-linear-gradient(top, rgba(153,216,244,1) 0%, rgba(79,183,236,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,216,244,1)), color-stop(100%,rgba(79,183,236,1)));
        background: -webkit-linear-gradient(top, rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
        background: -o-linear-gradient(top, rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
        background: -ms-linear-gradient(top, rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
        background: linear-gradient(to bottom, rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d8f4', endColorstr='#4fb7ec',GradientType=0 );
        text-decoration: none;
    }

.link-back {
    cursor: pointer !important;
}
