@model HRM.Presentation.Hr.Models.Hre_RelativesModel
@using HRM.Infrastructure.Utilities;

@{
    //ViewBag.Title = HRM.Infrastructure.Utilities.Constant.TitleListReward;
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<div class="section-header">
    <div class="title">
       Thông tin người thân
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Hr.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Hre_RelativesModel.FieldNames.RelativeName,
            Hre_RelativesModel.FieldNames.Gender, 
            Hre_RelativesModel.FieldNames.Career, 
            Hre_RelativesModel.FieldNames.YearOfBirth, 
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
           
            {Hre_RelativesModel.FieldNames.RelativeName, 150},
            {Hre_RelativesModel.FieldNames.Gender, 100},
            {Hre_RelativesModel.FieldNames.Career, 150},
            {Hre_RelativesModel.FieldNames.YearOfBirth, 100},

        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            
            {Hre_RelativesModel.FieldNames.RelativeName, ConstantDisplay.HRM_HR_Relatives_RelativeName},
            {Hre_RelativesModel.FieldNames.Gender, ConstantDisplay.HRM_HR_Relatives_Gender},
            {Hre_RelativesModel.FieldNames.Career, ConstantDisplay.HRM_HR_Relatives_Career},
            {Hre_RelativesModel.FieldNames.YearOfBirth, ConstantDisplay.HRM_HR_Relatives_YearOfBirth},
        };

        var grid = new GridBuilderInfo
        {
            Name = "RelativesByProfile",
            ValueFields = valueFields,
            ReadActionUrl = "GetByProfileIdGrid",
            Controller ="Hre_Relatives",
            ReadParameter = new { id = 1 },
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_RelativesModel>(grid))
</div>



