@model HRM.Presentation.Category.Models.Cat_JobTitleModel

@{
    ViewBag.Title = "InsertCatJobTitle";
   
}

<div class="insert-catbank">
    <table>
        <tr>
            <th>JobTitleName</th>
            <td>@(Html.EditorFor(model => model.JobTitleName))</td>
           
        </tr>
        <tr>
            <th>JobTitleNameEn</th>
            <td>@(Html.EditorFor(model => model.JobTitleNameEn))</td>
           
        </tr>
        <tr>
            <th>JobTitleCode</th>
            <td>@(Html.EditorFor(model => model.JobTitleCode))</td>
           
        </tr>
        <tr>
            <th>JobDescription</th>
            <td>@(Html.EditorFor(model => model.JobDescription))</td>

        </tr>
    </table>
</div>

