@model HRM.Presentation.Category.Models.CatReligionModel
@{
    ViewBag.Title = "InsertCatReligion";
   
}

<div class="insert-catreligion">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
        <th>ReligionName</th>
        <td style="width: 50%;">@(Html.EditorFor(model => model.ReligionName))</td>

        </tr>
        <tr>
            <th>Code</th>
            <td>@(Html.EditorFor(model => model.Code))</td>

        </tr>
    </table>
</div>

