@model HRM.Presentation.Category.Models.CatEmployeeTypeModel

@{
    ViewBag.Title = "InsertCatEmployeeType";
   
}

<div class="insert-catbank">
    <table>
        <tr>
            <th>EmployeeTypeName</th>
            <td>@(Html.EditorFor(model => model.EmployeeTypeName))</td>
           
        </tr>
        <tr>
            <th>Notes</th>
            <td>@(Html.EditorFor(model => model.Notes))</td>
           
        </tr>
        <tr>
            <th>CodeID</th>
            <td>@(Html.EditorFor(model => model.CodeID))</td>
           
        </tr>
    
    </table>
</div>

