@model HRM.Presentation.Category.Models.CatRegionModel
@{           
    ViewBag.Title = "InsertCatRegion";
   
}

<div class="insert-catcurrency">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>Code</th>
            <td style="width: 50%;">@(Html.EditorFor(model => model.Code))</td>
           
        </tr>
        <tr>
            <th>RegionName</th>
            <td>@(Html.EditorFor(model => model.RegionName))</td>
           
        </tr>
        <tr>
            <th>Notes</th>
            <td>@(Html.EditorFor(model => model.Notes))</td>
        </tr>
 
    </table>
</div>

