@model HRM.Presentation.Category.Models.SettingModel
@{
    ViewBag.Title = "InsertSetting";
   
}

<div class="insert-setting">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>Name</th>
            <td style="width: 50%;">@(Html.EditorFor(model => model.Name))</td>
           
        </tr>
        <tr>
            <th>Value</th>
            <td>@(Html.EditorFor(model => model.Value))</td>
           
        </tr>
        <tr>
            <th>ModuleID</th>
            <td>@(Html.EditorFor(model => model.ModuleId))</td>
        </tr>
    </table>
</div>

