@model HRM.Presentation.Category.Models.CatCurrencyModel
@{
    ViewBag.Title = "InsertCatCurrency";
   
}

<div class="insert-catcurrency">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>CurrencyName</th>
            <td style="width: 50%;">@(Html.EditorFor(model => model.CurrencyName))</td>
           
        </tr>
        <tr>
            <th>Code</th>
            <td>@(Html.EditorFor(model => model.Code))</td>
           
        </tr>
        <tr>
            <th>Description</th>
            <td>@(Html.EditorFor(model => model.Description))</td>
        </tr>
    </table>
</div>

