@model HRM.Presentation.Category.Models.CatCostCentreModel

@{
    ViewBag.Title = "InsertCatCostCentre";
   
}

<div class="insert-catbank">
    <table>
        <tr>
            <th>CostCentreName</th>
            <td>@(Html.EditorFor(model=>model.CostCentreName))</td>
           
        </tr>
        <tr>
            <th>Code</th>
            <td>@(Html.EditorFor(model => model.Code))</td>
           
        </tr>
        <tr>
            <th>GroupCost</th>
            <td>@(Html.EditorFor(model => model.GroupCost))</td>
           
        </tr>
        <tr>
            <th>Description</th>
            <td>@(Html.EditorFor(model => model.Description))</td>

        </tr>
    </table>
</div>

