@model HRM.Presentation.Category.Models.CatCategoryModel

@{
    ViewBag.Title = "InsertCatCategory";

}

<div class="insert-catethnicgroup">
    <table>
        <tr>
            <th>Category Name</th>
            <td>@(Html.EditorFor(model => model.CategoryName))</td>

        </tr>
        <tr>
            <th>Description</th>
            <td>@(Html.EditorFor(model => model.Description))</td>

        </tr>

        <tr>
            <th>Category Code</th>
            <td>@(Html.EditorFor(model => model.CategoryCode))</td>

        </tr>
        <tr>

    </table>
</div>
