@model HRM.Presentation.Category.Models.CatCountryModel

@{
    ViewBag.Title = "InsertCatCountry";
   
}

<div class="insert-catcountry">
    <table style ="width: 80%; text-align: center" align="center">
        <tr>
            <th>Code</th>
            <td>@(Html.EditorFor(model => model.Code))</td>

        </tr>
        <tr>
            <th>CountryName</th>
            <td>@(Html.EditorFor(model => model.CountryName))</td>

        </tr>
        <tr>
            <th>CountryName ES</th>
            <td>@(Html.EditorFor(model => model.CountryNameES))</td>

        </tr>
        <tr>
            <th>Notes</th>
            <td>@(Html.EditorFor(model => model.Notes))</td>

        </tr>
        </table>
</div>

