@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Category.Models.CatEthnicGroupModel
@using HRM.Infrastructure.Utilities

@{
    ViewBag.Title = "InsertCatEthnicGroup";

}

<div class="insert-catethnicgroup">
    <table>
        <tr>
            <th>Ethnic Group Name</th>
            <td>@(Html.EditorFor(model => model.EthnicGroupName))</td>

        </tr>
        <tr>
            <th>Ethnic Group Code</th>
            <td>@(Html.EditorFor(model => model.EthnicGroupCode))</td>

        </tr>
        <tr>

    </table>
</div>
