@using HRM.Infrastructure.Utilities
@{
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
}
@using HRM.Presentation.UI.Controls.Kendo

<script>
    function onSelectNode(e) {
        var data = $('#treeviewOrg').data('kendoTreeView').dataItem(e.node);
        $("#OrgStructureID").val(data.id);
    }
    function onDateBound(e) {
        var treeview = $("#treeviewOrg").data("kendoTreeView");
        var node = $("#OrgStructureName").val();
        var nodeText = treeview.findByText(node);
        treeview.select(nodeText);
        treeview.expand(".k-item");
    }

</script>

<div class="hrm_treeview" id="treeview">
    <div id="search">
        @(Html.TextBox("searchOrg", null, new
            {
                @class = "k-textbox",
                placeholder = "Search....",
                onkeyup = "GetSearchName(value);",
                style = "border-color:transparent;border-radius:0px;border-bottom: 1px dotted #C1D16E;width:300px;"
            }))
    </div>
    @{
        var orgTreeView = new TreeViewBuilderInfo
        {
            Name = "treeviewOrg",
            DataTextField = "Name",
            Id = "id",
            Url = @_hrm_Cat_Service + "Cat_GetData/GetOrgStructureTree",
            Icon = "IconPath",
            ShowCheckbox = false,
            EventSelect = "onSelectNode",
            EventDataBound = "onDateBound",
            LoadOnDemand = false
        };
    }
    @(Html.VnrTreeView(orgTreeView))
</div>
<script>
    function GetSearchName(value) {

        if (value !== "") {
            $("#treeviewOrg").data("kendoTreeView").expand(".k-item");
            $("#treeviewOrg .k-group .k-group .k-in").closest("li").hide();
            $("#treeviewOrg .k-group .k-group .k-in:contains(" + value + ")").each(function () {

                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        } else {
            $("#treeviewOrg .k-group").find("ul").hide();
            $("#treeviewOrg .k-group").find("li").show();
            $("#treeviewOrg").data("kendoTreeView").collapse('.k-item');
        }
    }
</script>
