@*@using HRM.Infrastructure.Utilities
@{
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
}
@using HRM.Presentation.UI.Controls.Kendo

<div class="hrm_treeview" id="treeview">
    <div id="search">
        @(Html.TextBox("searchOrg", null, new
            {
                @class = "k-textbox",
                placeholder = "Search....",
                onkeyup = "GetSearchName(value);",
                style = "border-color:transparent;border-radius:0px;border-bottom: 1px dotted #C1D16E;width:300px;"
            }))
    </div>
    @{
        var orgTreeView = new TreeViewBuilderInfo
        {
            Name = "treeviewOrg",
            DataTextField = "Name",
            Id = "id",
            Url = @_hrm_Cat_Service + "Cat_GetData/GetOrgStructureTree",
            Icon = "IconPath",
            CheckChildren = false,
            LoadOnDemand = false
        };
    }
    @(Html.VnrTreeView(orgTreeView))
</div>
<script>
    function GetSearchName(value) {
        if (value !== "") {
            $("#treeviewOrg .k-group .k-group .k-in").closest("li").hide();
            $("#treeviewOrg .k-group .k-group .k-in:contains(" + value + ")").each(function () {
                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        } else {
            $("#treeviewOrg .k-group").find("ul").hide();
            $("#treeviewOrg .k-group").find("li").show();
        }
    }
</script>*@


@using HRM.Infrastructure.Utilities
@{
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
}
@using HRM.Presentation.UI.Controls.Kendo

<div class="hrm_treeview" id="treeview">
    <div id="search">
        @(Html.TextBox("searchOrg", null, new
        {
            @class = "k-textbox",
            placeholder = "Search....",
            onkeyup = "GetSearchName(value);",
            style = "border-color:transparent;border-radius:0px;border-bottom: 1px dotted #C1D16E;width:300px;"
        }))
    </div>
    @{
        var orgTreeView = new TreeViewBuilderInfo
        {
            Name = "treeviewOrg",
            DataTextField = "Name",
            Id = "id",
            Url = @_hrm_Cat_Service + "Cat_GetData/GetOrgStructureTree",
            Icon = "IconPath",
            LoadOnDemand = false,
        };
    }
    @(Html.VnrTreeView(orgTreeView))
</div>
<script>
    function GetSearchName(value) {

        if (value !== "") {
            $("#treeviewOrg").data("kendoTreeView").expand(".k-item");
            $("#treeviewOrg .k-group .k-group .k-in").closest("li").hide();
            $("#treeviewOrg .k-group .k-group .k-in:contains(" + value + ")").each(function () {

                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        } else {
            $("#treeviewOrg .k-group").find("ul").hide();
            $("#treeviewOrg .k-group").find("li").show();
            $("#treeviewOrg").data("kendoTreeView").collapse('.k-item');
        }
    }
</script>

@*var treeview = $("#treeviewOrg").data("kendoTreeView");

        // expand all loaded items
        treeview.expand(".k-item");
        $('#searchOrg').on('keyup', function () {
            
            $('span.k-in > span.highlight').each(function () {
                $(this).parent().text($(this).parent().text());
            });

            // ignore if no search term
            if ($.trim($(this).val()) == '') { return; }

            var term = this.value.toUpperCase();
            var tlen = term.length;

            $('#treeviewOrg span.k-in').each(function (index) {
                
                var text = $(this).text();
                var html = '';
                var q = 0;
                while ((p = text.toUpperCase().indexOf(term, q)) >= 0) {
                    html += text.substring(q, p) + '<span class="highlight">' + text.substr(p, tlen) + '</span>';
                    //$(this).parents("ul, li").each(function () {
                    //                    $(this).show();
                    //                });
                    q = p + tlen;
                }

                if (q > 0) {
                    html += text.substring(q);
                    $(this).html(html);

                    $(this).parentsUntil('.k-treeview').filter('.k-item').each(
                        function (index, element) {
                            tv.expand($(this));
                            $(this).data('search-term', term);
                        }
                    );
                }
            });

            $('#treeviewOrg .k-item').each(function () {
                
                if ($(this).data('search-term') != term) {
                    tv.collapse($(this));
                }
            });
        });
    </script>
    <style>
        span.k-in > span.highlight {
            background: yellow;
        }
    </style>*@