.panel-default
{
    border-color: #ee543f;
}
.panel-default>.panel-heading
{
    color: #fff;
    background-color: #f15741;
    border-color: #ee543f;
}
.navbar-default
{
    background-color: #f15741;
    border-color: #ee543f;
}
.btn-primary
{
    background-color: #f15741;
    border-color: #ee543f;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    color: #fff;
    background-color: #e6543f;
    border-color: #e6543f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
    background-color: #e6543f;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
    color: #fff;
    background-color: #e6543f;
}