@import 'library.css';
/*@import 'opa.css';*/
body{
    font-size:14px;
    font-family:Arial;
}
.validation-summary-errors ul
{
    list-style:none!important;
}
.container {
    width:100%;
}
header .row {
    background: #ffffff url(/Content/img/header-bg.png) repeat-x;
    height:30px;
}

#div-home-content .panel{
   margin-bottom:15px!important;
}
#div-home-content .panel-heading
{
    margin-bottom: 0;
}
.demo-section{
    padding-left:0!important;
}
.demo-section1{
    padding-left:0!important;
    padding-right:0!important;
}
header .logo {
    text-align:left;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
header .user-info {
    padding-top:5px;
    /*padding-bottom:5px;*/
    /*text-align:right;*/
    font-size:12px;
    padding-left: 0;
    padding-right: 4px;
}
header .user-info .btn-default
{
    background-color: transparent!important;
 border-color: transparent!important; 
}
header .user-info a {
    text-decoration:none;
}
.panel .panel-heading
{
    font-weight:bold;
}
.panel .title
{
   margin-right :0;
   padding-right :0;
}
.GridLeaveSummary
{
    padding:0;
}
.panel .value
{
    padding-left :8px;
    margin-left :0;
    font-weight:bold;
}

.fa-3x{
    font-size: 2.5em;
    color: #fff;
    padding: 8px 5px 4px 10px;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}
.k-grid-header th.k-header, .k-filter-row th{
    padding: .4em;
}
.km-icon
{
    padding-right:4px;
}
#Personal .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#Personal .row{
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 5px!important;
}

#Personal .image {
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align:center;
    border-top: 1px solid #DEDEDE;
}
#Personal .thumbnail {
    height: 160px; 
    width: 160px; 
    display: block;
    margin: 0 auto;
}
#Personal .header-box{
    border-top: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    text-align: left;
    color: #000000;
    font-weight: bold;
    padding: 3px 5px;
    background: #F6F6F6 url(/Content/img/bg-lable.jpg) repeat-y scroll right center;
}
#personal-header.row {
    margin-left: 0;
    margin-right: 0;
}
#Personal .lable {
    background: #F6F6F6 url(/Content/img/bg-lable.jpg) repeat-y scroll right center;
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    text-align:right;
    height:30px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 21px;     /* fallback */
   max-height: 30px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#Personal .value{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    text-align: left;
    vertical-align: middle;
    background-color:white;
    height:30px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 21px;   
   max-height: 30px;      
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
}

#Personal .row-data {
    padding: 0;
}

#Personal .k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content
{
    padding: .3em .92em 0 .92em;
}
#Personal .lable label
{
    font-weight:normal!important;
}
#Personal .hr-tabstrip
{
    margin-top: 0;
    margin-bottom: 0;
}
#box-search{
    display: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 8px;
}

fieldset.scheduler-border {
    border: 1px solid #ccc !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #ccc;
            box-shadow:  0px 0px 0px 0px #ccc;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

    legend
    {
        margin-bottom: 8px;
    }

    @media screen and (max-width: 770px)
{
    #box-search .lable
    {
        text-align:left!important;
    }

        #form-update-create .lable {
        text-align: left !important;
    }
}

#box-search .lable
{
    text-align:right;
    padding-top:4px;
    margin-bottom:-1px;
}
#box-search .lable label
{
    font-weight:normal;
}

#box-search .value
{
    margin-bottom:3px;
}
.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input
{
    height:30px;
}
@media screen and (max-width: 400px) {
    #box-search .col-xs-1, #box-search .col-sm-1,#box-search .col-md-1,#box-search .col-lg-1,#box-search .col-xs-2,#box-search .col-sm-2,#box-search .col-md-2,#box-search .col-lg-2,#box-search .col-xs-3,#box-search .col-sm-3,#box-search .col-md-3,#box-search .col-lg-3,#box-search .col-xs-4,#box-search .col-sm-4,#box-search .col-md-4,#box-search .col-lg-4,#box-search .col-xs-5,#box-search .col-sm-5, 
    #box-search .col-md-5, #box-search .col-lg-5,#box-search .col-xs-6,#box-search .col-sm-6,#box-search .col-md-6,#box-search .col-lg-6,#box-search .col-xs-7,#box-search .col-sm-7, #box-search.col-md-7, #box-search.col-lg-7,#box-search .col-xs-8,#box-search .col-sm-8,#box-search .col-md-8,#box-search .col-lg-8,#box-search .col-xs-9,#box-search .col-sm-9,#box-search .col-md-9,#box-search .col-lg-9,
    #box-search .col-xs-10, #box-search .col-sm-10,#box-search .col-md-10, #box-search .col-lg-10, #box-search .col-xs-11,#box-search .col-sm-11,#box-search  .col-md-11,#box-search  .col-lg-11,#box-search  .col-xs-12,#box-search  .col-sm-12,#box-search  .col-md-12,#box-search  .col-lg-12 {
        padding-left:0;
    }
}

@media screen and (max-width: 400px) {
    #div-home-content .col-xs-1, #div-home-content .col-sm-1,#div-home-content .col-md-1,#div-home-content .col-lg-1,#div-home-content .col-xs-2,#div-home-content .col-sm-2,#div-home-content .col-md-2,#div-home-content .col-lg-2,#div-home-content .col-xs-3,#div-home-content .col-sm-3,#div-home-content .col-md-3,#div-home-content .col-lg-3,#div-home-content .col-xs-4,#div-home-content .col-sm-4,#div-home-content .col-md-4,#div-home-content .col-lg-4,#div-home-content .col-xs-5,#div-home-content .col-sm-5, 
    #div-home-content .col-md-5, #div-home-content .col-lg-5,#div-home-content .col-xs-6,#div-home-content .col-sm-6,#div-home-content .col-md-6,#div-home-content .col-lg-6,#div-home-content .col-xs-7,#div-home-content .col-sm-7, #div-home-content.col-md-7, #div-home-content.col-lg-7,#div-home-content .col-xs-8,#div-home-content .col-sm-8,#div-home-content .col-md-8,#div-home-content .col-lg-8,#div-home-content .col-xs-9,#div-home-content .col-sm-9,#div-home-content .col-md-9,#div-home-content .col-lg-9,
    #div-home-content .col-xs-10, #div-home-content .col-sm-10,#div-home-content .col-md-10, #div-home-content .col-lg-10, #div-home-content .col-xs-11,#div-home-content .col-sm-11,#div-home-content  .col-md-11,#div-home-content  .col-lg-11,#div-home-content  .col-xs-12,#div-home-content  .col-sm-12,#div-home-content  .col-md-12,#div-home-content  .col-lg-12 {
        padding-left:10px;
        padding-right:10px;
    }
}

@media screen and (max-width: 325px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right:0;
    }
}
.k-pager-wrap > .k-link
{
    height: 2.1em;
}
#form-update-create .panel{
    display: inline-block;
    padding-bottom: 15px;
}

#form-update-create .options{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 0;
}

#form-update-create .k-toolbar{
    line-height: 2.4em;
    border-top:0;
    border-left:0;
    border-right:0;
    height:34px;
}
#form-update-create .value{
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 1px;
}

#form-update-create .lable {
    padding-top: 10px;
    padding-bottom: 1px;
    text-align:right;
}
#form-update-create .lable label{
   margin-bottom: 0;
   font-weight:normal;
}
.panel-heading
{
    min-height: 35px;
    padding-top:7px;
    margin-bottom: 15px;
}

.panel-heading .right
{
    font-weight:normal;
    padding-right:0;
    text-align:right;
    margin-top:-5px;
}

.form-create-update
{
    border: 1px solid #ddd;
    padding-top: 0;
    margin-bottom: 10px;
    display:inline-block;
    padding-bottom:15px;
}
.form-content
{
    margin-top: 15px;
}
.form-tile{
    padding:0 5px ;
    font-size:17px;
    font-weight:bold;
}
.k-grid tbody tr{
    height: 38px;
}

.k-grid tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.k-header
{
    min-height:30px!important;
    padding-left:3px;
}
#extOkCancelDialog{
    position: static!important;
    padding-top: 15px!important;
}
.pd-left-01{
    padding-left:0!important;
}
.pd-left-02{
    padding-left:0!important;
}
.pd-left-right-0{
    padding-right:0!important;
    padding-left:0!important;
}
@media only screen and (max-width: 1024px){
    .pd-left-02{
    padding-right:0!important;
}
    .demo-section{
    padding-right:0!important;
}
    #custom-id-index.row
    {
        margin-right:0!important;
    }
}
@media only screen and (max-width: 765px){
    .pd-left-01{
    padding-right:0!important;
}
        .demo-section{
    padding-right:0!important;
}
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

.col-full-height:before {
  content:"";
}
.item {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
  padding: 12px 6px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

/* content styles */

.item {
  display: table;
}
.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}