@model HRM.Presentation.Hr.Models.Hre_HDTJobModel
@using HRM.Infrastructure.Utilities;

@{
    //ViewBag.Title = HRM.Infrastructure.Utilities.Constant.TitleListReward;
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<div class="section-header">
    <div class="title">
       Thông tin công việc nặng nhọc
    </div>
</div>
@*<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Hr.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Hre_HDTJobModel.FieldNames.Code,
            Hre_HDTJobModel.FieldNames.DateFrom,
            Hre_HDTJobModel.FieldNames.DateTo,
            Hre_HDTJobModel.FieldNames.HDTType,
            Hre_HDTJobModel.FieldNames.Description
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
           
            {Hre_HDTJobModel.FieldNames.Code, 100},
            {Hre_HDTJobModel.FieldNames.DateFrom, 150},
            {Hre_HDTJobModel.FieldNames.DateTo, 150},
            {Hre_HDTJobModel.FieldNames.HDTType, 250},
            {Hre_HDTJobModel.FieldNames.Description, 250},

        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            
            {Hre_HDTJobModel.FieldNames.Code, ConstantDisplay.HRM_HR_HDTJob_Code},
            {Hre_HDTJobModel.FieldNames.DateFrom, ConstantDisplay.HRM_HR_HDTJob_DateFrom},
            {Hre_HDTJobModel.FieldNames.DateTo, ConstantDisplay.HRM_HR_HDTJob_DateTo},
            {Hre_HDTJobModel.FieldNames.HDTType, ConstantDisplay.HRM_HR_HDTJob_HDTType},
            {Hre_HDTJobModel.FieldNames.Description, ConstantDisplay.HRM_HR_HDTJob_Description},
        };

        var grid = new GridBuilderInfo
        {
            Name = "HDTJobbyProfile",
            ValueFields = valueFields,
            ReadActionUrl = "GetByProfileIdGrid",
            Controller ="Hre_HDTJob",
            ReadParameter = new { id = 1 },
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_HDTJobModel>(grid))
</div>*@



