#Change-Colum-Control .k-textbox, li.hint .k-textbox {
    height: 1.6em;
    text-indent: 5px;
    padding: 0;
    font-size: 13px;
    max-width: 60px;
}
 
 .header-title {
        border-bottom: 1px solid #ebebeb;
        height: 18px;
        text-align: center;
    }
    .column-name {
        float: left;
        padding-left: 100px;
    }
     .column-width {
        float: right;
        width: 70px;
    }
    .column-group {
        width: 50px;
        float: right;
    }
    .column-locke {
        width: 55px;
        float: right;
    }
    .column-filter {
        float: right;
        width: 70px;
    }
    .width {
        width: 87px;
    }
    .group {
        width: 46px;
    }
    .locke {
        width: 48px;
    }
    .filter {
        width: 20px;
    } 
.container {
            min-width: 800px !important;
        }

        .box-style-hidden {
            margin: 10px 20px 10px 0;
            background-color: #f3f5f7;
            border-radius: 4px;
            border: 1px solid rgba(0,0,0,.1);
            padding-left: 0;
            padding-right: 0;
            width: 30% !important;
        }

            .box-style-hidden ul {
                padding-left: 0;
                min-height: 30px !important;
            }

        .box-style-show {
            margin: 10px 0 10px 0;
            background-color: #f3f5f7;
            border-radius: 4px;
            border: 1px solid rgba(0,0,0,.1);
            padding-left: 0;
            padding-right: 0;
            width: 67% !important;
        }

            .box-style-show ul {
                padding-left: 0;
                min-height: 30px !important;
            }

        .col-show-title {
            background-color: #ffffff;
            border-radius: 4px 4px 0 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
            text-align: center;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }

            .col-show-title span {
                float: right;
                padding-right: 5px;
            }

        .col-hidden-title {
            background-color: #ffffff;
            border-radius: 4px 4px 0 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
            text-align: center;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        li.sortable {
            list-style-type: none;
            padding: 6px 8px;
            margin: 0;
            color: #666;
            font-size: 1.2em;
            cursor: url('/Content/cursor/grab.cur'), default;
        }

            li.sortable:last-child {
                border-bottom: 0;
                border-radius: 0 0 4px 4px;
            }

            li.sortable span {
                display: block;
                float: right;
                color: #666;
                padding-right: 5px;
            }

            li.sortable:hover {
                background-color: #dceffd;
            }

        li.hint {
            display: block;
            width: 300px;
            background-color: #52aef7;
            color: #fff;
        }

            li.hint:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid #52aef7;
                position: absolute;
                left: 300px;
                top: 8px;
            }

            li.hint:last-child {
                border-radius: 4px;
            }

            li.hint span {
                color: #fff;
            }

        li.placeholder {
            background-color: #dceffd;
            color: #52aef7;
            text-align: right;
        }