@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Security;

@model  HRM.Presentation.HrmSystem.Models.Sys_HreConfigModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>

    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        var energy = checkedNodes.join();
        document.getElementById("OrgStructureListString").setAttribute("value", checkedNodes[0]);
    }

    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });
   
    $("#Save").click(function () {
      //  var params = eventParaData();
          var params = $('form').serialize();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + "api/Hr_HreConfig/",
             data: params,
            dataType: 'json',
            success: function (returnValue) {
                debugger;
                if (returnValue == "") {
                    ShowNotificationProcessor("Thao Tác Thành Công");
                }
                else {
                    var url = '@_hrm_Sys_Service' + returnValue;
                    window.location = url;
                }
            }
        });

    });
</script>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                </h3>
            </div>
            <div class="commandToolBarWidge">
                <div class="options">
                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "Save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
                @Html.Partial("HrTabView", Model)
        </div>
    </div>
</form>
