@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.HrmSystem.Models

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models
@{
    Layout = null;
    var _hrm_Att_Web = ConstantPathWeb.Hrm_Att_Web;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
@model String

<script type="text/javascript">

    function ReadDataCatElment() {
        var param = {
            GradePayroll: $("#GradePayrollID").val(),
            type: "@Model",
            Method: '@MethodPayroll.E_NORMAL.ToString()',
        };
        return param;
    };
</script>

<div style="padding:3px">
    @{
        //Thông tin hiển column hiển thị
        var valueFields = new string[]
        {
            CatElementModel.FieldNames.ElementCode,
            CatElementModel.FieldNames.ElementName,
            CatElementModel.FieldNames.Formula,
             //CatElementModel.FieldNames.Description,
            //CatElementModel.FieldNames.Cat_ElementType,
        };

        //Set độ rộng cho từng column
        var sizeFields = new Dictionary<string, int>()
        {
            {CatElementModel.FieldNames.ElementCode,250},
            {CatElementModel.FieldNames.ElementName, 350},
            //{CatElementModel.FieldNames.Formula, 120},
            //{CatElementModel.FieldNames.ColumnName, 120},
            //{CatElementModel.FieldNames.OrderNumber, 120},
            //{CatElementModel.FieldNames.Invisible, 150},
            //{CatElementModel.FieldNames.IsBold, 120},
           // {CatElementModel.FieldNames.DisplayIndex, 120},
            //{CatElementModel.FieldNames.Cat_ElementType, 120},
            //{CatElementModel.FieldNames.Description, 250}
        };

        //Thông tin hiển thị được dịch
        var displayFields = new Dictionary<string, string>()
        {
            {CatElementModel.FieldNames.ElementCode, ConstantDisplay.HRM_Category_Element_Code},
            {CatElementModel.FieldNames.ElementName , ConstantDisplay.HRM_Category_Element_ElementName },
            //{CatElementModel.FieldNames.Formula, ConstantDisplay.HRM_Category_Element_Formula },
            //{CatElementModel.FieldNames.ColumnName, ConstantDisplay.HRM_System_DynamicColumn_ColumnName },
            //{CatElementModel.FieldNames.OrderNumber, ConstantDisplay.HRM_Category_Element_OrderNumber },
           // {CatElementModel.FieldNames.Invisible, ConstantDisplay.HRM_Category_Element_Invisible},
           // {CatElementModel.FieldNames.IsBold, ConstantDisplay.HRM_Category_Element_IsBold},
           // {CatElementModel.FieldNames.DisplayIndex, ConstantDisplay.HRM_Category_Element_DisplayIndex},
            //{CatElementModel.FieldNames.Cat_ElementType, ConstantDisplay.HRM_Category_Element_Type},
            //{CatElementModel.FieldNames.Description, ConstantDisplay.HRM_Category_Element_Description}
        };
        //Thông tin hiển column hiển thị
        var hiddenFields = new string[]
        {
            //CatElementModel.FieldNames.ElementCode,
            //CatElementModel.FieldNames.ElementName,
            CatElementModel.FieldNames.Formula,
            //CatElementModel.FieldNames.Cat_ElementType,
        };

        var grid = new GridBuilderInfo
       {
           Name = Model,
           ValueFields = valueFields,
           SizeFields = sizeFields,
           DisplayFields = displayFields,
           HiddenFields = hiddenFields,
           ShowCheckbox = false,
           ShowEditIcon = false,
           GridHeight = 400,
           AutoBind = true,
           ReadData = "ReadDataCatElment",
           ReadActionUrl = _hrm_Cat_Service + "Cat_GetData/GetElementListForCreate",

       };
        grid.Filterable = new Dictionary<string, bool>()
            {
                {CatElementModel.FieldNames.ElementCode,true},
                {CatElementModel.FieldNames.ElementName,true},
            };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatElementModel>(grid))

</div>