@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
           
@using HRM.Infrastructure.Utilities;
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.Nodes.Count != 1)
{
    @:<ul class="breadcrumb">
    @:<li>@(Html.ActionLink(ConstantDisplay.HRM_Dashboard.TranslateString(), "Index", "Home")) </li>
    foreach (var node in Model.Nodes)
        {
        if (node == Model.Nodes.First())
        {
        continue;
        }
        
        if (node != Model.Nodes.Last())
        {
            var x = node.Url.Split(new char[] { '?' });
            string url2 = x[0];
            
            @:<li><a href="@url2">@node.Title.TranslateString()</a><span class="divider"></span></li>
        }
        else
        {
            @:<li class="active">@node.Title.TranslateString()</li>
        }
        }

        @:</ul>
}