@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model  HRM.Presentation.HrmSystem.Models.Sys_CatTastAfterImportConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@*<script type="text/javascript">
    function pickerSelect(e) {
        $('#@Html.FieldIdFor(model => model.ProfileQuitColor)').val(e.value);
    }

    function pickerSelectbg(e) {
        $('#@Html.FieldIdFor(model => model.ProfileQuitBackGroundColor)').val(e.value);
    }

</script>*@

<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Cat_AutoUpdateHisAtt_Title.TranslateString()
                                @*Cấu Hình Nhân Sự*@
                            </legend>

                

                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig400" >
                                    @Html.VnrLabelFor(mode => mode.IsAllowAutoUpdateHistoryAttendanceCode)
                                </div>
                                <div class="FieldValueConfig">
                                    @{

                                        var AllowAutoUpdate = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.IsAllowAutoUpdateHistoryAttendanceCode == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsAllowAutoUpdateHistoryAttendanceCode, AllowAutoUpdate)
                                </div>
                            </div>
                          
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>