@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo.TabStrip
@using HRM.Presentation.Hr.Models
@{
    Layout = null;
}

@model  HRM.Presentation.HrmSystem.Models.Sys_HreConfigModel

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_HR.TranslateString()
        </li>
       
    </ul>
    <div>
        @Html.Partial("Hr_Hre", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>