@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models;
@using HRM.Infrastructure.Security;
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<div style="padding-top: 3px">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Att_ImportLeavedayModel.FieldNames.CodeEmp,
            Att_ImportLeavedayModel.FieldNames.ProfileName,
            Att_ImportLeavedayModel.FieldNames.DateStart,
            Att_ImportLeavedayModel.FieldNames.DateEnd,
            Att_ImportLeavedayModel.FieldNames.LeaveDays,
            Att_ImportLeavedayModel.FieldNames.LeaveHours,
            Att_ImportLeavedayModel.FieldNames.DurationType,
            Att_ImportLeavedayModel.FieldNames.LeaveDayType
        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Att_ImportLeavedayModel.FieldNames.CodeEmp,100},
            {Att_ImportLeavedayModel.FieldNames.ProfileName,130},
            {Att_ImportLeavedayModel.FieldNames.DateStart,100},
            {Att_ImportLeavedayModel.FieldNames.DateEnd,100},
            {Att_ImportLeavedayModel.FieldNames.LeaveDays,100},
            {Att_ImportLeavedayModel.FieldNames.LeaveHours,100},
            {Att_ImportLeavedayModel.FieldNames.DurationType,100},
            {Att_ImportLeavedayModel.FieldNames.LeaveDayType,100}
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Att_ImportLeavedayModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Att_Report_CodeEmp},
            {Att_ImportLeavedayModel.FieldNames.ProfileName,ConstantDisplay.HRM_Att_Report_CodeEmp},
            {Att_ImportLeavedayModel.FieldNames.DateStart,ConstantDisplay.HRM_Attendance_Leaveday_DateStart},
            {Att_ImportLeavedayModel.FieldNames.DateEnd,ConstantDisplay.HRM_Attendance_Leaveday_DateEnd},
            {Att_ImportLeavedayModel.FieldNames.LeaveDays,ConstantDisplay.HRM_Attendance_Leaveday_LeaveDays},
            {Att_ImportLeavedayModel.FieldNames.LeaveHours,ConstantDisplay.HRM_Attendance_Leaveday_LeaveHours},
            {Att_ImportLeavedayModel.FieldNames.DurationType,ConstantDisplay.HRM_Attendance_Leaveday_DurationType},
            {Att_ImportLeavedayModel.FieldNames.LeaveDayType,ConstantDisplay.HRM_Attendance_Leaveday_LeaveDayType},

        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Data_ImportLeaveday",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            // ReadActionUrl = _hrm_Hre_Service + "Tra_GetData/ImportScore/",
            //ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }

    @(Html.VnrGrid<Att_ImportLeavedayModel>(grid))
</div>

