@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models;
@using HRM.Infrastructure.Security;
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<div style="padding-top: 3px">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Tra_TraineeScoreImportModel.FieldNames.Stt,
            Tra_TraineeScoreImportModel.FieldNames.ClassCode,
            Tra_TraineeScoreImportModel.FieldNames.CodeEmp,
            Tra_TraineeScoreImportModel.FieldNames.TopicCode,
            Tra_TraineeScoreImportModel.FieldNames.TypeScore,
            Tra_TraineeScoreImportModel.FieldNames.Score,
            Tra_TraineeScoreImportModel.FieldNames.TypeError

        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Tra_TraineeScoreImportModel.FieldNames.Stt,100},
            {Tra_TraineeScoreImportModel.FieldNames.ClassCode,130},
            {Tra_TraineeScoreImportModel.FieldNames.CodeEmp,130},
            {Tra_TraineeScoreImportModel.FieldNames.TopicCode,100},
            {Tra_TraineeScoreImportModel.FieldNames.TypeScore,130},
            {Tra_TraineeScoreImportModel.FieldNames.Score,130},
            {Tra_TraineeScoreImportModel.FieldNames.TypeError,130}
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Tra_TraineeScoreImportModel.FieldNames.Stt,ConstantDisplay.HRM_Tra_RequirementTrainDetail_STT},
            {Tra_TraineeScoreImportModel.FieldNames.ClassCode,ConstantDisplay.HRM_Tra_Class_Code},
            {Tra_TraineeScoreImportModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Att_Report_CodeEmp},
            {Tra_TraineeScoreImportModel.FieldNames.TopicCode,ConstantDisplay.HRM_Cat_Topic_Code},
            {Tra_TraineeScoreImportModel.FieldNames.TypeScore,ConstantDisplay.HRM_Cat_Topic_ScoreType},
            {Tra_TraineeScoreImportModel.FieldNames.Score,ConstantDisplay.HRM_Tra_TraineeScore_Score},
            {Tra_TraineeScoreImportModel.FieldNames.TypeError,ConstantDisplay.HRM_Cat_Topic_Description},
            
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_DataError_ImportTraineeScore",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hre_Service + "Tra_GetData/ImportScore/",
            ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }

    @(Html.VnrGrid<Tra_TraineeScoreImportModel>(grid))
</div>

