@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_ProfileModel          
@{
    ViewBag.Title = "Edit Profile";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    var checkedNodes = [];
    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        document.getElementById("OrgStructureID").setAttribute("value", checkedNodes[0]);
        checkedNodes = [];
    }
    var data = SetCharacteFieldRequired();
    function doEditProfile() {
        
        var result = false;
        //if (CheckValidate(data)) {
            
            var _ReceiveHealthIns = document.getElementById("ReceiveHealthIns");
            var _IsBlackList = document.getElementById("IsBlackList");
            var ReceiveSocialIns = document.getElementById("ReceiveSocialIns");
            var IsRegisterSocialIns = document.getElementById("IsRegisterSocialIns");
            var IsRegisterHealthIns = document.getElementById("IsRegisterHealthIns");
            var IsRegisterUnEmploymentIns = document.getElementById("IsRegisterUnEmploymentIns");

            var IsRelationWithMartyr = document.getElementById("IsRelationWithMartyr");
            var IsCommunistPartyMember = document.getElementById("IsCommunistPartyMember");
            var IsTradeUnionist = document.getElementById("IsTradeUnionist");
            var IsYouthUnionist = document.getElementById("IsYouthUnionist");
            var IsVeteranUnionist = document.getElementById("IsVeteranUnionist");
            var IsSelfDefenceMilitia = document.getElementById("IsSelfDefenceMilitia");

            if (IsRelationWithMartyr != null && IsRelationWithMartyr.checked) {
                $("#IsRelationWithMartyr").val("true");
            } else {
                $("#IsRelationWithMartyr").val("false");
            }
            if (IsCommunistPartyMember != null && IsCommunistPartyMember.checked) {
                $("#IsCommunistPartyMember").val("true");
            } else {
                $("#IsCommunistPartyMember").val("false");
            }
            if (IsTradeUnionist != null && IsTradeUnionist.checked) {
                $("#IsTradeUnionist").val("true");
            } else {
                $("#IsTradeUnionist").val("false");
            }
            if (IsYouthUnionist != null && IsYouthUnionist.checked) {
                $("#IsYouthUnionist").val("true");
            } else {
                $("#IsYouthUnionist").val("false");
            }
            if (IsVeteranUnionist != null && IsVeteranUnionist.checked) {
                $("#IsVeteranUnionist").val("true");
            } else {
                $("#IsVeteranUnionist").val("false");
            }
            if (IsSelfDefenceMilitia != null && IsSelfDefenceMilitia.checked) {
                $("#IsSelfDefenceMilitia").val("true");
            } else {
                $("#IsSelfDefenceMilitia").val("false");
            }


            if (_ReceiveHealthIns != null && _ReceiveHealthIns.checked) {
                $("#ReceiveHealthIns").val("true");
            } else {
                $("#ReceiveHealthIns").val("false");
            }
            if (_IsBlackList != null && _IsBlackList.checked) {
                $("#IsBlackList").val("true");
            } else {
                $("#IsBlackList").val("false");
            }
            if (ReceiveSocialIns != null && ReceiveSocialIns.checked) {
                $("#ReceiveSocialIns").val("true");
            } else {
                $("#ReceiveSocialIns").val("false");
            }
            if (IsRegisterSocialIns != null && IsRegisterSocialIns.checked) {
                $("#IsRegisterSocialIns").val("true");
            } else {
                $("#IsRegisterSocialIns").val("false");
            }
            if (IsRegisterHealthIns != null && IsRegisterHealthIns.checked) {
                $("#IsRegisterHealthIns").val("true");
            } else {
                $("#IsRegisterHealthIns").val("false");
            }
            if (IsRegisterUnEmploymentIns != null && IsRegisterUnEmploymentIns.checked) {
                $("#IsRegisterUnEmploymentIns").val("true");
            } else {
                $("#IsRegisterUnEmploymentIns").val("false");
            }
            @*var t = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateOfEffect").val());
            $("#DateOfEffect").val(t);
            alert(t);*@
            var dataReturn = onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification");
            @*onCreate($('#Hre_ProfilePartyUnionIdForm :input'), '@_hrm_Hr_Service', 'api/Hre_ProfilePartyUnion/', "popupNotification");*@

            if (dataReturn.ActionStatus == "Change") {
                HreProfileChange();
            }
            else {
                if (dataReturn != null) {
                    result = true;
                }
            }
        //}
        return result;
    };


    function HreProfileChange() {

        $.when(kendo.ui.ExtOkCancelDialog.show({
            title: "Xác nhận",
            message: "Bạn Có Muốn Cập Nhật Thay Đổi Vào 'Quá Trình Công Tác'?",
            icon: "k-ext-warning"
        })
        ).done(function (response) {
            if (response.button == "OK") {
                $("#ActionStatus").val(1);
                onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification");
            }
        });
    }
    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Hre_Web/Hre_Profile/Create/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
        }
    }

</script>


<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        @ConstantDisplay.HRM_HR_Profile_Edit.TranslateString()<a class="link-back" onclick="clickBack()">(@ConstantDisplay.HRM_HR_Back_To_ProfileQuit_List.TranslateString())</a> 
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabHre_Profile", Model)
            </div>
        </div>
    </div>
</form>
