@using HRM.Infrastructure.Security;
@using HRM.Infrastructure.Utilities;


@using HRM.Presentation.Attendance.Models;
@model HRM.Presentation.Attendance.Models.Att_AttendanceTableItemModel

@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Att_AttendanceTableItem.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script type="text/javascript">   
    $("#btnCreate").click(function () {
        KendoRouteMapping('#Hrm_Main_Web/Att_AnnualLeave/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
    });
</script>
@Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), SpriteCssClass = "k-icon k-i-plus" })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })    
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @using HRM.Presentation.UI.Controls.Kendo
   @{
    string[] valueFields = new string[]
        {
            Att_AttendanceTableItemModel.FieldNames.ShiftName,
            Att_AttendanceTableItemModel.FieldNames.WorkDate,
            Att_AttendanceTableItemModel.FieldNames.WorkHours,
            Att_AttendanceTableItemModel.FieldNames.AvailableHours
            
        };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_AttendanceTableItemModel.FieldNames.ShiftName,200},
            {Att_AttendanceTableItemModel.FieldNames.WorkDate,150},
            {Att_AttendanceTableItemModel.FieldNames.WorkHours,150},
            {Att_AttendanceTableItemModel.FieldNames.AvailableHours,150}
        };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_AttendanceTableItemModel.FieldNames.ShiftName,ConstantDisplay.HRM_Attendance_AttendanceTableItem_ShiftID},
            {Att_AttendanceTableItemModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_AttendanceTableItem_WorkDate},
            {Att_AttendanceTableItemModel.FieldNames.WorkHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_WorkHours},
            {Att_AttendanceTableItemModel.FieldNames.AvailableHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_AvailableHours}
        };

        //Dictionary<string, string> formatFields = new Dictionary<string, string>()
        //{
        //    {Att_AttendanceTableModel.FieldNames.FirstInTime,"{0:hh:mm}"},
        //    {Att_AttendanceTableModel.FieldNames.FirstOutTime, "{0:hh:mm}" },
        //    {Att_AttendanceTableModel.FieldNames.LastInTime , "{0:hh:mm}"},     
        //    {Att_AttendanceTableModel.FieldNames.LastOutTime , "{0:hh:mm}"},     
        //};
        var grid = new GridBuilderInfo
        {
            Name = ConstantDisplay.HRM_Att_AttendanceTableItem,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            //FormatFields = formatFields,
            ShowCommand = true,
            ShowEditButton = true,
            ShowDeleteButton = true,
            ShowCustomEdit = true,
            EventCustomEdit = "showpage",
            EventCustomAdd = "NewPageInsert()",
            DeleteActionUrl = "/Att_AttendanceTableItem/Remove/",
            ReadActionUrl = "/Att_AttendanceTableItem/GetAll/"
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<HRM.Presentation.Attendance.Models.Att_AttendanceTableItemModel>(grid))
</div>

<script type="text/javascript">
    function showpage(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var id = dataItem.Id;

        window.location.href = '@_hrm_Main_Web' + 'Att_AttendanceTableItem/Edit/' + id;
    }


    function NewPageInsert() {

        window.location.href = '@_hrm_Main_Web' + 'Att_AttendanceTableItem/Create';
    }
</script>

