@using System.Collections
@using HRM.Infrastructure.Security
@using HRM.Presentation.Evaluation.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@model Eva_PerformanceModel
@{
    Layout = null;
    var _Hrm_Main_Web = ConstantPathWeb.Hrm_Eva_Web;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Eva_Service;
    string PerformanceID = "";
    string PerformanceExtendID = "";
    if (Model != null)
    {
        PerformanceID = Model.ID.ToString();
        PerformanceExtendID = Model.PerformanceExtendID.ToString();
    }

}

<style>
    li {
        padding-bottom: 3px;
    }
</style>

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_Evaluation_KPIBuilding360Tab.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_Evaluation_DevelopingPerson.TranslateString()
        </li>

    </ul>
    <div></div>
    <div></div>

</div>
<script>
    $(document).ready(function () {

        var countTab=2;
        LoadContent("tabstrip-" + 1);
        setTimeout(function () {
            for (var i = 1; i <= countTab; i++) {
                LoadContent("tabstrip-" + i);
            }
        }, 1000);

    });



    function LoadContent(tabID) {
        $.ajax({
            url: FindPostUrl(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {

            }
        });
    };

    function onSelectTabs(e) {

        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrl(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {

            }
        });
    };

    $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }

    });


    function FindPostUrl(tabid) {

        switch (tabid) {
            case "tabstrip-1":
                return '@_Hrm_Main_Web' + 'Eva_KPIBuilding360/CreateOrUpdate?id=' + '@PerformanceID';
                break;
            case "tabstrip-2":
                return '@_Hrm_Main_Web' + 'Eva_PerformanceExtend/PerformanceExtendInfo?id=' + '@PerformanceExtendID' + "&PerformanceID=" + '@PerformanceID';
                break;


            default:
                return "";
        }
    };
</script>