
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using System.Collections
@using HRM.Presentation.Insurance.Models

@{
    Layout = null;
    // var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    
   
}
<style>
    .k-window div.k-window-content {
        overflow: hidden;
    }
</style>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            </h3>
         
        </div>
    </div>
</div>
<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_Category_ValueEntity.TranslateString()
        </li>
        
        <li>
            @ConstantDisplay.HRM_Category_RateInsurance.TranslateString()
        </li>

    </ul>
    <div>

    </div>
    <div>

    </div>
</div>
<script>
    $(document).ready(function () {

        var countTab=2;
        LoadContent("tabstrip-" + 1);
        setTimeout(function () {
            for (var i = 1; i <= countTab; i++) {
                LoadContent("tabstrip-" + i);
            }
        }, 1000);

    });



    function LoadContent(tabID) {
        $.ajax({
            url: FindPostUrl(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    function onSelectTabs(e) {
        
        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrl(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }
      
    });


    function FindPostUrl(tabid) {
        switch (tabid) {
            case "tabstrip-1":
                return '@_hrm_Main_Web' + 'Cat_ValueEntity/Index';
                break;
            case "tabstrip-2":
                return '@_hrm_Main_Web' + 'Cat_RateInsurance/Index';
                break;
            default:
                return "";
        }
    };
</script>
