@model HRM.Presentation.Hr.Models.Hre_RewardModel
@using HRM.Infrastructure.Utilities;

@{
    //ViewBag.Title = HRM.Infrastructure.Utilities.Constant.TitleListReward;
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<div class="section-header">
    <div class="title">
       Thông tin khen thưởng
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Data.Hr.Model
    @using HRM.Presentation.Hr.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Hre_RewardModel.FieldNames.NoOfReward,
            Hre_RewardModel.FieldNames.DateOfIssuance,
            Hre_RewardModel.FieldNames.DateOfEffective,
            Hre_RewardModel.FieldNames.Description,
            Hre_RewardModel.FieldNames.Reason
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
           
            {Hre_RewardModel.FieldNames.NoOfReward, 150},
            {Hre_RewardModel.FieldNames.DateOfIssuance, 150},
            {Hre_RewardModel.FieldNames.DateOfEffective, 150},
            {Hre_RewardModel.FieldNames.Description, 250},
            {Hre_RewardModel.FieldNames.Reason, 250},

        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            
            {Hre_RewardModel.FieldNames.Reason, ConstantDisplay.HRM_HR_Reward_Reason},
            {Hre_RewardModel.FieldNames.NoOfReward, ConstantDisplay.HRM_HR_Reward_NoOfReward},
            {Hre_RewardModel.FieldNames.Description, ConstantDisplay.HRM_HR_Reward_Description},
            {Hre_RewardModel.FieldNames.DateOfIssuance, ConstantDisplay.HRM_HR_Reward_DateOfIssuance},
            {Hre_RewardModel.FieldNames.DateOfEffective, ConstantDisplay.HRM_HR_Reward_DateOfEffective},
        };

        var grid = new GridBuilderInfo
        {
            Name = "RewardyProfile",
            ValueFields = valueFields,
            ReadActionUrl = "GetByProfileIdGrid",
            Controller ="Hre_Reward",
            ReadParameter = new { id = 1 },
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_RewardModel>(grid))
</div>



