
@using HRM.Infrastructure.Utilities;

<div>
    @ViewBag.MsgInsert
</div>
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@ConstantPath.Att_ComputeWorkDayIconPath" alt="" width="20" height="20" />

            @ConstantDisplay.HRM_Attendance_ComputeWorkDay_Compute.TranslateString()
        </div>

    </div>
}

