@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models;
@using HRM.Infrastructure.Security;
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<div style="padding-top: 3px">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Tra_TraineeImportModel.FieldNames.CodeEmp,
           
            
            Tra_TraineeImportModel.FieldNames.ClassCode,
            Tra_TraineeImportModel.FieldNames.RequirementCode,
            Tra_TraineeImportModel.FieldNames.Status

        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Tra_TraineeImportModel.FieldNames.CodeEmp,100},
            {Tra_TraineeImportModel.FieldNames.ClassCode,130},
            {Tra_TraineeImportModel.FieldNames.RequirementCode,130},
            
            {Tra_TraineeImportModel.FieldNames.Status,130},
            
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Tra_TraineeImportModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Att_Report_CodeEmp},
            {Tra_TraineeImportModel.FieldNames.ClassCode,ConstantDisplay.HRM_Tra_Class_Code},
            {Tra_TraineeImportModel.FieldNames.RequirementCode,ConstantDisplay.HRM_Tra_RequirementTrain_Code},
            {Tra_TraineeImportModel.FieldNames.Status,ConstantDisplay.HRM_Tra_Class_Status},


        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Data_ImportTrainee",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
           // ReadActionUrl = _hrm_Hre_Service + "Tra_GetData/ImportScore/",
            //ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false
        };
    }

    @(Html.VnrGrid<Tra_TraineeImportModel>(grid))
</div>

